<div class="panel panel-primary"><div class="panel-heading">Angular 1 Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#angular1HelloWorld" ng-click="buildBreadCrumbs('Angular 1 Hello World', '#angular1HelloWorld')">Angular 1 Hello World</a></li>
		<li><a ng-href="#printMessage" ng-click="buildBreadCrumbs('Angular JS 1 print message in html by setting scope variable', '#printMessage')">Angular JS 1 print message in html by setting scope variable</a></li>
		<li><a ng-href="#printMessageWithIIFY" ng-click="buildBreadCrumbs('Using Angular JS with IIFY', '#printMessageWithIIFY')">Using Angular JS with IIFY</a></li>
		<li><a ng-href="#controller1" ng-click="buildBreadCrumbs('Angular Controller', '#controller1')">Angular Controller Hello World</a></li>
		<li><a ng-href="#httpGet" ng-click="buildBreadCrumbs('Calling GET Rest Web Service', '#httpGet')">Calling GET Rest Web Service</a></li>		
		<li><a ng-href="#ngModel" ng-click="buildBreadCrumbs('Using ngModel directive to update the model when we type text in text box', '#ngModel')">Using ngModel directive to update the model when we type text in text box</a></li>
		<li><a ng-href="#ngClick" ng-click="buildBreadCrumbs('Using ngClick directive when we click on button. Call function in controller', '#ngClick')">Using ngClick directive when we click on button. Call function in controller</a></li>
		<li><a ng-href="#ngSubmit" ng-click="buildBreadCrumbs('Using ngSubmit directive when we submit a form by clicking a button', '#ngSubmit')">Using ngSubmit directive when we submit a form by clicking a button</a></li>
		<li><a ng-href="#ngRepeat" ng-click="buildBreadCrumbs('Using ngRepeat to display employee table', '#ngRepeat')">Using ngRepeat to display employee table</a></li>
		<li><a ng-href="#intervalService" ng-click="buildBreadCrumbs('Using $interval service for count down', '#intervalService')">Using $interval service for count down</a></li>
		<li><a ng-href="#windowService" ng-click="buildBreadCrumbs('Reload the page after 5 seconds using $window service', '#windowService')">Reload the page after 5 seconds using $window service</a></li>
		<li><a ng-href="#ngInclude" ng-click="buildBreadCrumbs('Include one html into another html', '#ngInclude')">Include one html into another html</a></li>
		<li><a ng-href="#customService" ng-click="buildBreadCrumbs('Creating and using custom service', '#customService')">Creating and using custom service</a></li>
		<li><a ng-href="#navigateToSpecificIdInPage" ng-click="buildBreadCrumbs('Navigate to specific portion of the page with $location and $anchorScroll services', '#navigateToSpecificIdInPage')">Navigate to specific portion of the page with $location and $anchorScroll services</a></li>
		<li><a ng-href="#ngRouteTemplate" ng-click="buildBreadCrumbs('Using ngRoute service', '#ngRouteTemplate')">Using ngRoute service</a></li>
		<li><a ng-href="#ngRouteTemplate" ng-click="buildBreadCrumbs('Using ngRoute service', '#ngRouteTemplate')">Angular Templates</a></li>
		<li><a ng-href="#logService" ng-click="buildBreadCrumbs('Using $log service to debug the code', '#logService')">Using $log service to debug the code</li>		
	</ul>
</div></div>	