<div class="panel panel-primary"><div class="panel-heading">Materials</div><div class="panel-body">
	<ul>
		<li>E:\Backup\JavaPrep\ActiveMQ\1_ActiveMQ Introduction</li>
		<li>E:\Backup\JavaPrep\ActiveMQ\2_Simple Java program to consume from an ActiveMQ Queue</li>
		<li><a href="http://examples.javacodegeeks.com/enterprise-java/jms/activemq-tutorial-beginners/" target="_blank">Active Mq setup and getting started</a></li>
		<li><a href="http://tech.lalitbhatt.net/2014/08/activemq-introduction.html" target="_blank">Active Mq Setup + Core Java (producer and consumer)</a></li>
		<li><a href="http://www.mastertheintegration.com/core-apache-projects/activemq/introduction-to-activemq/activemq-lesson-1-getting-started-with-activemq.html" target="_blank">Active MQ Getting Started</a></li>
		<li>E:\Backup\JavaPrep\ActiveMQ\3.Spring Framework JMS Integartion Tutorial.mp4</li>
		<li><a href="http://examples.javacodegeeks.com/enterprise-java/apache-camel/apache-camel-activemq-example/" target="_blank">Camel + Active MQ</a></li>
		<li><a href="http://examples.javacodegeeks.com/enterprise-java/apache-camel/apache-camel-activemq-example/" target="_blank">Camel + Active MQ + Spring</a></li>
		<li><a href="http://activemq.apache.org/initial-configuration.html" target="_blank">Documentation</a></li>
		<li><a href="https://examples.javacodegeeks.com/enterprise-java/jms/jms-messagelistener-example/" target="_blank">JMS MessageListner Example</a></li>	
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Projects</div><div class="panel-body">
	<ul>
		<li><a href="https://github.com/avinashbabudonthu/ApacheCamel.git" target="_blank">ApacheCamel</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Apache Camel Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#camelHelloWorld" ng-click="buildBreadCrumbs('Camel Hello World', '#camelMarshalCsv')">Apache Camel Hello World</a></li>
		<li><a ng-href="#camelWithBean" ng-click="buildBreadCrumbs('Camel Using Bean in Router', '#camelWithBean')">Apache Camel With Bean</a></li>
		<li><a ng-href="#camelWithBeanAndProcessor" ng-click="buildBreadCrumbs('Camel with Bean and Processor', '#camelWithBeanAndProcessor')">Apache Camel With Bean and Processor</a></li>
		<li><a ng-href="#camelWithSpring" ng-click="buildBreadCrumbs('Camel with Spring', '#camelWithSpring')">Apache Camel With Spring</a></li>
		<li><a ng-href="#camelSpringProcessorBean" ng-click="buildBreadCrumbs('Camel with Spring and Processor and Bean', '#camelSpringProcessorBean')">Apache Camel With Spring and Processor and Bean</a></li>
		<li>Using bean in the Router</li>
		<li>Using Processor and Bean in the Router</li>
		<li>Camel with Spring Bean</li>
		<li><a ng-href="#camelMarshalCsv" ng-click="buildBreadCrumbs('Marshal CSV using Camel', '#camelMarshalCsv')">Marshal (converting List to CSV) List to CSV file using Apache Camel</a></li>
		<li><a ng-href="#camelUnmarshalCsv" ng-click="buildBreadCrumbs('Unmarshal CSV using Camel', '#camelUnmarshalCsv')">Unmarshal (converting CSV to List) CSV File using Apache Camel</a></li>
	</ul>
</div></div>