<div class="panel panel-primary"><div class="panel-heading">Materials</div><div class="panel-body">
	<ul>
		<li><a ng-href="http://docs.oracle.com/javase/tutorial/index.html" target="_blank">Java Docs</a></li>
		<li><a href="http://javapapers.com/core-java/java-synthetic-class-method-field/" target="_blank">Synthatic Constructor</a></li>
		<li><a href="http://www.javaworld.com/article/2077388/core-java/what-version-is-your-java-code.html" target="_blank">Compile java code to make it run backward compatible</a></li>
		<li><a href="https://app.pluralsight.com/library/courses/understanding-java-vm-class-loading-reflection" target="_blank">Understanding the Java Virtual Machine: Class Loading and Reflection</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Workspaces</div><div class="panel-body">
<table class="table table-hover">
<thead>
	<tr>
		<th>IDE</th>
        <th>Location</th>
	</tr>
</thead>
<tbody>
<tr>
	<td>Eclipse Oxygen</td>
	<td>E:\workspaces\core-java-ws</td>
</tr>
</tbody>
</table>
</div></div>


<div class="panel panel-primary"><div class="panel-heading">Projects</div><div class="panel-body">
	<ul>
		<li><a href="https://github.com/avinashbabudonthu/CoreJavaPractice.git" target="_blank">Github link</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Core Java</div><div class="panel-body">
<ul>
  		<li><a ng-href="#coreJavaDefs" ng-click="buildBreadCrumbs('Core Java Definitions', '#coreJavaDefs')">Core Java Definitions</a></li>
  		<li><a ng-href="#string" ng-click="buildBreadCrumbs('Core Java String examples', '#string')">String Practice</a></li>
  		<li><a ng-href="#date" ng-click="buildBreadCrumbs('Core Java Date examples', '#date')">Date Practice</a></li>
  		<li><a ng-href="#annotations" ng-click="buildBreadCrumbs('Core Java Annotations examples', '#annotations')">Annotations Practice</a></li>
  		<li><a ng-href="#enums" ng-click="buildBreadCrumbs('Core Java Enums examples', '#enums')">Enums</a></li>
  		<li><a ng-href="#aspectJ" ng-click="buildBreadCrumbs('Core Java AspectJ examples', '#aspectJ')">Implementing AOP using AspectJ</a></li>
  		<li><a ng-href="#fileIO" ng-click="buildBreadCrumbs('Core Java File IO examples', '#fileIO')">File IO</a></li>
  		<li><a ng-href="#multiThreading" ng-click="buildBreadCrumbs('Core Java Multi threading examples', '#multiThreading')">Multi Threading</a></li>
  		<li><a ng-href="#dynamicProxies" ng-click="buildBreadCrumbs('Core Java Dynamic Proxies examples', '#dynamicProxies')">Dynamic Proxies</a></li>
  		<li><a ng-href="#randomNumber" ng-click="buildBreadCrumbs('Generate Random number', '#randomNumber')">Generate Random number</a></li>
  		<li><a ng-href="#immutableObject" ng-click="buildBreadCrumbs('Creating an Immutable Object', '#immutableObject')">Immutable object</a></li>
  		<li><a ng-href="#singletonObject" ng-click="buildBreadCrumbs('Creating Singleton Object', '#singletonObject')">Singleton object</a></li>
  		<li><a ng-href="#messageFormat" ng-click="buildBreadCrumbs('Core Java Message Format', '#messageFormat')">Message Format</a></li>
  		<li><a ng-href="#regex" ng-click="buildBreadCrumbs('Core Java Regular Expression Examples', '#regex')">Regex</a></li>
  		<li><a ng-href="#reflectionApi" ng-click="buildBreadCrumbs('Core Java Reflection API', '#reflectionApi')">Reflection API</a></li>
  		<li><a ng-href="#exceptionHandling" ng-click="buildBreadCrumbs('Exception Handling', '#exceptionHandling')">Exception Handling</a></li>
  		<li><a ng-href="#generics" ng-click="buildBreadCrumbs('Generics', '#generics')">Generics</a></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Collections</div><div class="panel-body">
<ul>
	<li><a ng-href="#list" ng-click="buildBreadCrumbs('Core Java List examples', '#list')">List</a></li>
  	<li><a ng-href="#set" ng-click="buildBreadCrumbs('Core Java Set examples', '#set')">Set</a></li>
  	<li><a ng-href="#map" ng-click="buildBreadCrumbs('Core Java Map examples', '#map')">Map</a></li>
  	<li><a ng-href="#hashMapInternals" ng-click="buildBreadCrumbs('Internals of HashMap', '#hashMapInternals')">Internals of HashMap</a></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">JDK 8</div><div class="panel-body">

<ul>
	<li><em>Example:</em>
	<ul>
		<li>Java 8 - Base 64</li>
  		<li>Constructor Reference Java 8</li>
  		<li>Date time API</li>
  		<li>Interfaces - default methods</li>
  		<li>Interfaces - static methods</li>
  		<li>FunctionalInterface</li>
  		<li>Lambda Expression</li>
  		<li>Method References</li>
  		<li>Constructor References</li>
  		<li>Nashron Engine</li>
  		<li><a ng-href="#javaUtilOptional" ng-click="buildBreadCrumbs('Java 8 - Optional', '#javaUtilOptional')">java.util.Optional</a></li>
  		<li>Parameter Names</li>
  		<li>Repeating Annotations</li>
  		<li><a ng-href="#typeReference" ng-click="buildBreadCrumbs('Java 8 - Type Reference', '#typeReference')">Type References</a></li>
  		<li><a ng-href="#java8CollectionStreams" ng-click="buildBreadCrumbs('Java 8 - Collection Streams', '#java8CollectionStreams')">Collection Streams</a></li>
  		<li><a ng-href="#java8Function" ng-click="buildBreadCrumbs('Java 8 - Function Interface', '#java8Function')">java.util.function.Function interface</a></li>
  		<li><a ng-href="#java8Predicate" ng-click="buildBreadCrumbs('Java 8 - Predicate Interface', '#java8Predicate')">java.util.function.Predicate interface</a></li>
  		<li>jdeps</li>
  		<li>java.util.function.Consumer</li>
  		<li>Collectors.toList</li>
  		<li>Collectors.groupingBy</li>
  		<li>Collectors.summarizingInt</li>
  		<li>Collectors.joining</li>
  		<li>Collectors.toMap</li>
  		<li>BiConsumer&lt;T,U&gt; : It represents an operation that accepts two input arguments, and returns no result</li>
  		<li>BiFunction&lt;T,U,R&gt; : It represents a function that accepts two arguments and produces a result</li>
  		<li>BinaryOperator&lt;T&gt; : It represents an operation upon two operands of the same type, producing a result of the same type as the operands</li>
  		<li>BiPredicate&lt;T, U&gt; : It represents a predicate (Boolean-valued function) of two arguments</li>
  		<li>BooleanSupplier : It represents a supplier of Boolean-valued results</li>
  		<li>Consumer&lt;T&gt; : It represents an operation that accepts a single input argument and returns no result.</li>
  		<li>DoubleBinaryOperator: It represents an operation upon two double-valued operands and producing a double-valued result</li>
  		<li>DoubleConsumer : It represents an operation that accepts a single double-valued argument and returns no result</li>
  		<li>DoubleFunction&lt;R&gt; : It represents a function that accepts a double-valued argument and produces a result.</li>
  		<li>DoublePredicate : It represents a predicate (Boolean-valued function) of one double-valued argument</li>
  		<li>DoubleSupplier : It represents a supplier of double-valued results</li>
  		<li>DoubleToIntFunction : It represents a function that accepts a double-valued argument and produces an int-valued result</li>
  		<li>DoubleToLongFunction : It represents a function that accepts a double-valued argument and produces a long-valued result</li>
  		<li>DoubleUnaryOperator : It represents an operation on a single double-valued operand that produces a double-valued result</li>
  		<li>Function&lt;T,R&gt; : It represents a function that accepts one argument and produces a result</li>
  		<li>IntBinaryOperator : It represents an operation upon two int-valued operands and produces an int-valued result.</li>
  		<li>IntConsumer : It represents an operation that accepts a single int-valued argument and returns no result.</li>
  		<li>IntFunction&lt;R&gt; : It represents a function that accepts an int-valued argument and produces a result.</li>
  		<li>IntPredicate : It represents a predicate (Boolean-valued function) of one int-valued argument.</li>
  		<li>IntSupplier : It represents a supplier of int-valued results.</li>
  		<li>IntToDoubleFunction : It represents a function that accepts an int-valued argument and produces a double-valued result.</li>
  		<li>IntToLongFunction : It represents a function that accepts an int-valued argument and produces a long-valued result.</li>
  		<li>IntUnaryOperator : It represents an operation on a single int-valued operand that produces an int-valued result</li>
  		<li>LongBinaryOpeator : It represents an operation upon two long-valued operands and produces a long-valued result.</li>
  		<li>LongConsumer : It represents an operation that accepts a single long-valued argument and returns no result.</li>
  		<li>LongFunction&lt;R&gt; : It represents a function that accepts a long-valued argument and produces a result.</li>
  		<li>LongPredicate : It represents a predicate (Boolean-valued function) of one long-valued argument.</li>
  		<li>LongSupplier : It represents a supplier of long-valued results.</li>
  		<li>LongToDoubleFunction : It represents a function that accepts a long-valued argument and produces a double-valued result.</li>
  		<li>LongToIntFunction : It represents a function that accepts a long-valued argument and produces an int-valued result.</li>
  		<li>LongUnaryOperator : It represents an operation on a single long-valued operand that produces a long-valued result.</li>
  		<li>ObjDoubleConsumer&lt;T&gt; : It represents an operation that accepts an object-valued and a double-valued argument, and returns no result.</li>
  		<li>ObjIntConsumer&lt;T&gt; : It represents an operation that accepts an object-valued and an int-valued argument, and returns no result.</li>
  		<li>ObjLongConsumer&lt;T&gt; : It represents an operation that accepts an object-valued and a long-valued argument, and returns no result.</li>
  		<li>Predicate&lt;T&gt; : It represents a predicate (Boolean-valued function) of one argument.</li>
  		<li>Supplier&lt;T&gt; : It represents a supplier of results.</li>
  		<li>ToDoubleBiFunction&lt;T,U&gt; : It represents a function that accepts two arguments and produces a double-valued result.</li>
  		<li>ToDoubleFunction&lt;T&gt; : It represents a function that produces a double-valued result.</li>
  		<li>ToIntBiFunction&lt;T,U&gt; : It represents a function that accepts two arguments and produces an int-valued result.</li>
  		<li>ToIntFunction&lt;T&gt; : It represents a function that produces an int-valued result.</li>
  		<li>ToLongBiFunction&lt;T,U&gt; : It represents a function that accepts two arguments and produces a long-valued result.</li>
  		<li>ToLongFunction&lt;T&gt; : It represents a function that produces a long-valued result.</li>
  		<li>UnaryOperator&lt;T&gt; : It represents an operation on a single operand that produces a result of the same type as its operand.</li>
  		<li>ChronoUnit : java.time.temporal.ChronoUnit enum is added in Java 8 to replace the integer values used in old API to represent day, month, etc</li>
	</ul>
	</li>
	<li><em>References: </em>
	<ul>
		<li><a ng-href="https://www.tutorialspoint.com/java8/java8_interview_questions.htm" target="_blank">Java 8 Interview Questions</a></li>
		<li><a ng-href="http://www.concretepage.com/java/jdk-8/java-8-biconsumer-bifunction-bipredicate-example" target="_blank">Java 8 BiConsumer, BiFunction and BiPredicate Example</a></li>
	</ul>	
	</li>
</ul>
</div></div>