<div class="panel panel-primary" id="1"><div class="panel-heading">Materials</div><div class="panel-body">
<ul>
	<li><a ng-href="https://docs.gradle.org/current/dsl/" target="_blank"">Gradle Documentation</a></li>
	<li><a href="https://gradle.org/docs/" target="_blank">Gradle Docs</a></li>
	<li>Gradle Beyond Basics - images/gradle/Gradle Beyond the Basics.pdf</li>
	<li><a href="https://app.pluralsight.com/library/courses/gradle-fundamentals" target="_blank">Gradle Fundamentals [Course]</a></li>
	<li>1-order-of-tutorials.xlsx</li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Workspaces</div><div class="panel-body">
<table class="table table-hover">
<thead>
	<tr>
		<th>IDE</th>
        <th>Location</th>
	</tr>
</thead>
<tbody>
<tr>
	<td>Eclipse Oxygen</td>
	<td>E:\workspaces\gradle-ws</td>
</tr>
</tbody>
</table>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Projects</div><div class="panel-body">
	<ul>
		<li><a href="https://github.com/avinashbabudonthu/GradlePractice" target="_blank">Github link</a></li>
		<li>Sample Gradle file - images/gradle/sample-gradle.txt</li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#gradleInstallation" ng-click="buildBreadCrumbs('Gradle Installation', '#gradleInstallation')">Gradle Installation</a></li>
		<li><a ng-href="#springBootHelloWorldGradle" ng-click="buildBreadCrumbs('Spring Boot Hello World With Gradle', '#springBootHelloWorldGradle')">Spring Boot Hello World With Gradle</a></li>
	</ul>
</div></div>