<div class="panel panel-primary"><div class="panel-heading">Hibernate 4 Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#hibernate4Crud" ng-click="buildBreadCrumbs('Hibernate 4 Crud', '#hibernate4Crud')">Hibernate 4 Crud</a></li>
		<li><a ng-href="#hibernate4Merge" ng-click="buildBreadCrumbs('Hibernate 4 Merge', '#hibernate4Merge')">Merge method</a></li>
		<li><a ng-href="#hibernate4Hql" ng-click="buildBreadCrumbs('Hibernate 4 HQL Examples', '#hibernate4Hql')">HQL Examples</a></li>
		<li>Criteria Examples</li>
		<li>Projections Examples</li>
		<li>Native SQL Exampels</li>
		<li>Named Queries Examples</li>
		<li>Has-A relationship</li>
		<li>Inheritance
			<ul>
				<li>Table per class</li>
				<li>Table per subclass</li>
				<li>Table per concrete class</li>
			</ul>
		</li>
		<li>Relationships
			<ul>
				<li>One-To-One : Using JoinColumn annotation</li>
				<li>One-To-One : Using PrimaryKeyJoinColumn annotaion</li>
				<li>One-To-Many : ManyToOne pojo is owner of relationship</li>
				<li>One-To-Many : OneToMany pojo is owner of relationship</li>
				<li>Many-To-One : Uni directional</li>
				<li>Many-To-One : Return type of @ManyToOne annotation getter/setter is interface</li>
				<li>Many-To-Many</li>
			</ul>
		</li>		
		<li>Hibernate Search</li>
		<li>Lucene</li>
		<li>Locking</li>
		<li>Batch Processing</li>
		<li>Caching
			<ul>
				<li>First Level Caching</li>
				<li>Second Level Caching</li>
				<li>Query Caching</li>
			</ul>
		</li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Hibernate 5 Examples</div><div class="panel-body">
	<ul>
		<li><a ng-href="#hibernate5HelloWorld" ng-click="buildBreadCrumbs('Hibernate 5 Hello World', '#hibernate5HelloWorld')">Hibernate 5 Hello World</a></li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Other References</div><div class="panel-body">
	<ul>
		<li><a ng-href="http://hibernate.org/search/documentation/getting-started/" target="_blank">Hibernate Search Basics</a></li>
		<li><a ng-href="https://docs.jboss.org/hibernate/stable/search/reference/en-US/html_single" target="_blank">Hibernate Search Full Reference Guide</a></li>
		<li><a ng-href="https://docs.jboss.org/hibernate/orm/4.0/devguide/en-US/html/ch05.html" target="_blank">Locking</a></li>
		<li><a ng-href="http://docs.jboss.org/hibernate/orm/3.6/reference/en-US/html/performance.html" target="_blank">Improving Performance</a></li>
	</ul>
</div></div>