<h4><em>Languages</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Core Java</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#string" ng-click="buildBreadCrumbs('String Examples', '#string')">String	Practice</a></li>
					<li><a ng-href="#date"ng-click="buildBreadCrumbs('Date Examples', '#date')">Date Practice</a></li>
					<li><a ng-href="#list" ng-click="buildBreadCrumbs('List Examples', '#list')">List</a></li>
					<li><a ng-href="#fileIO" ng-click="buildBreadCrumbs('Core Java File IO examples', '#fileIO')">File IO</a></li>
					<a ng-href="#coreJava" ng-click="buildBreadCrumbs('Core Java', '#coreJava')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Scala</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#installScala" ng-click="buildBreadCrumbs('Install Scala', '#installScala')">Installing Scala and Install SBT and Scala IDE (Eclipse based)</a></li>
					<li><a ng-href="#scalaHelloWorldWithSbt" ng-click="buildBreadCrumbs('Scala Hello World with SBT', '#scalaHelloWorldWithSbt')">Scala Hello World with sbt</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Groovy</div>
			<div class="panel-body">
				<ul>
					<li>Groovy Installation</li>
					<a ng-href="#groovy" ng-click="buildBreadCrumbs('Groovy', '#groovy')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em><a ng-href="#spring" ng-click="buildBreadCrumbs('Spring', '#spring')">Spring</a></em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Core</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springDIHelloWorldXml" ng-click="buildBreadCrumbs('Spring DI Hello World using setter injection', '#springDIHelloWorldXml')">Spring DI Hello World using setter injection</a></li>
					<li><a ng-href="#springDIConstructorInjectionXml" ng-click="buildBreadCrumbs('Spring DI Hello World using constructor injection', '#springDIConstructorInjectionXml')">Spring DI Hello World using constructor injection</a></li>
					<li><a ng-href="#springInjectCollectionsXml" ng-click="buildBreadCrumbs('Spring Injecting collections', '#springInjectCollectionsXml')">Spring Injecting collections</a></li>
					<li><a ng-href="#springResourceBundleXml" ng-click="buildBreadCrumbs('Spring Resource Bundle Message Source', '#springResourceBundleXml')">Spring Resource Bundle Message Source</a></li>
  					<a ng-href="#spring" ng-click="buildBreadCrumbs('Spring', '#spring')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring MVC</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springMVCHelloWorldXml" ng-click="buildBreadCrumbs('Spring MVC Hello World', '#springMVCHelloWorldXml')">Spring MVC Hello World</a></li>
					<li><a ng-href="#springMVCCustomConfigXml" ng-click="buildBreadCrumbs('Spring MVC using custom spring config file', '#springMVCCustomConfigXml')">Spring MVC using custom spring config file</a></li>
					<li><a ng-href="#springMVCMultiConfigXml" ng-click="buildBreadCrumbs('Spring MVC with multi config files', '#springMVCMultiConfigXml')">Spring MVC with multi config files</a></li>
					<li><a ng-href="#springMVCPropertiesFileXml" ng-click="buildBreadCrumbs('Spring MVC using properties file for labels', '#springMVCPropertiesFileXml')">Spring MVC using properties file for labels</a></li>
  					<a ng-href="#spring#2" ng-click="buildBreadCrumbs('Spring', '#spring')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Integration</div>
			<div class="panel-body">
				<ul>
					<li>Spring Integration Hello World</li>
					<a ng-href="#springIntegration" ng-click="buildBreadCrumbs('Spring Integration', '#springIntegration')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em>Build Tools</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Maven</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#installMaven" ng-click="buildBreadCrumbs('Install Maven', '#installMaven')">Install Maven</a></li>
					<li><a ng-href="#repositoriesTag" ng-click="buildBreadCrumbs('repositories tag in pom.xml', '#repositoriesTag')">repositories tag in pom.xml</a></li>
					<li><a ng-href="#coreJavaProjectWithMaven" ng-click="buildBreadCrumbs('Create Core Java Project', '#coreJavaProjectWithMaven')">Createn Core Java Project using Maven</a></li>
					<a ng-href="#maven" ng-click="buildBreadCrumbs('Maven', '#maven')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Ant (Another Neat Tool)</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#antJacoco" ng-click="buildBreadCrumbs('Ant Jacoco', '#antJacoco')">Ant - Jacoco Integration</a></li>
					<a ng-href="#ant" ng-click="buildBreadCrumbs('Ant', '#ant')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Gradle</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#gradleInstallation" ng-click="buildBreadCrumbs('Gradle Installation', '#gradleInstallation')">Gradle Installation</a></li>
					<li><a ng-href="#springBootHelloWorldGradle" ng-click="buildBreadCrumbs('Spring Boot Hello World With Gradle', '#springBootHelloWorldGradle')">Spring Boot Hello World With Gradle</a></li>
					<a ng-href="#gradle" ng-click="buildBreadCrumbs('Gradle', '#gradle')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em>REST Web Services</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">RESTful Web Services with Jersey Implementation</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#jerseyRestGet" ng-click="buildBreadCrumbs('GET requests in Jersey Implementation', '#jerseyRestGet')">GET requests</a></li>
					<li><a ng-href="#jerseyRestPost" ng-click="buildBreadCrumbs('POST requests in Jersey Implementation', '#jerseyRestPost')">POST requests</a></li>
					<li><a ng-href="#jerseyRestPut" ng-click="buildBreadCrumbs('PUT requests in Jersey Implementation', '#jerseyRestPut')">PUT requests</a></li>
					<li><a ng-href="#jerseyRestDelete" ng-click="buildBreadCrumbs('DELETE requests in Jersey Implementation', '#jerseyRestDelete')">DELETE requests</a></li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">RESTful Web Services with Spring Implementation</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#springRestGet" ng-click="buildBreadCrumbs('Spring REST Get', '#springRestGet')">Spring REST GET</a></li>
					<li><a ng-href="#springRestPost" ng-click="buildBreadCrumbs('Spring REST Post', '#springRestPost')">Spring REST POST</a></li>
					<li><a ng-href="#springRestPostPolymorphism" ng-click="buildBreadCrumbs('Spring REST Post Polymorphism', '#springRestPostPolymorphism')">Spring REST POST Polymorphism</a></li>
					<li><a ng-href="#springRestPUT" ng-click="buildBreadCrumbs('Spring REST PUT', '#springRestPUT')">Spring REST PUT</a></li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Apache CXF</div>
			<div class="panel-body">
				<ul>
					<li>Get</li>
					<li>Post</li>
					<li>PUT</li>
					<li>DELETE</li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">RESTful Web Services with Dropwizard implementation</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="http://www.dropwizard.io/1.0.6/docs/getting-started.html" target="_blank">Getting Started</a></li>
					<li><a ng-href="http://www.dropwizard.io/1.0.6/docs/manual/index.html#manual-index" target="_blank">Docs</a></li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Apache Camel implementation</div>
			<div class="panel-body">
				<ul>
					<li>REST API with Apache Camel</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Mule implementation</div>
			<div class="panel-body">
				<ul>
					<li>REST API with Mule</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">RESTful Clients</div>
			<div class="panel-body">
				<ul>
					<li>java.net.URL</li>
					<li>Apache HTTP Client</li>
					<li>RestEasy</li>
					<li>Jersey</li>
					<a ng-href="#webservices" ng-click="buildBreadCrumbs('Webservices', '#webservices')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em>SQL</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">General Tables for Practice</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">H2</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
					<li><a ng-href="#h2DB">H2</a></li>
					<li><a ng-href="#dbJoins" ng-click="buildBreadCrumbs('SQL Joins', '#dbJoins')">Joins</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Oracle</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
					<li><a ng-href="#dbJoins" ng-click="buildBreadCrumbs('SQL Joins', '#dbJoins')">Joins</a></li>
					<li><a ng-href="#oracleSql" ng-click="buildBreadCrumbs('SQL Queries', '#oracleSql')">SQL Queries</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">SQL Server</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#practiceDBScripts"  ng-click="buildBreadCrumbs('DB Scripts to create practice DB', '#practiceDBScripts')">DB Scripts to create practice DB</a></li>
					<li><a ng-href="#dbJoins" ng-click="buildBreadCrumbs('SQL Joins', '#dbJoins')">Joins</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em>No SQL DB</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">MongoDB</div>
			<div class="panel-body">
				<ul>
					<li>MongoDB Installation in Windows</li>
					<li>MongoDB with Java</li>
					<li>Spring Data MongoDB</li>
					<a ng-href="#mongoDB" ng-click="buildBreadCrumbs('MongoDB', '#mongoDB')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em>Java Virtual Machine (JVM)</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Java Virtual Machine</div>
			<div class="panel-body">
				<ul>
					<li>Inside Java Virtual Machine</li>
					<li>Java Application Performance Tuning</li>
					<a ng-href="#jvm" ng-click="buildBreadCrumbs('JVM', '#jvm')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>

				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">JDK Tools</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#native2ascii" ng-click="buildBreadCrumbs('Convert characters to Unicode', '#native2ascii')">native2ascii</a></li>
					<li>jps</li>
					<li>javap</li>
					<a ng-href="#jdkTools" ng-click="buildBreadCrumbs('JDK Tools', '#jdkTools')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>

				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Java Garbage Collection</div>
			<div class="panel-body">
				<ul>
					<li>Garbage Collection by Plumbr</li>
					<li>How to monitor Java Garbage Collection</li>
					<li>Java application performance tuning</li>
					<a ng-href="#gc" ng-click="buildBreadCrumbs('Garbage Collection', '#gc')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em>ORM</em></h4>
<div class="row">

	<!-- Hibernate 4 -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Hibernate</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#hibernate" ng-click="buildBreadCrumbs('Hibernate', '#hibernate')">Hibernate Examples</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- Eclipselink -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Eclipselink</div>
			<div class="panel-body">
				<ul>
					<li>Eclipselink Hello World</li>
					<li>JPQL</li>
					<li>Criteria</li>
					<a ng-href="#eclipselink" ng-click="buildBreadCrumbs('EclipseLink', '#eclipselink')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- JPA -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">JPA 2.1</div>
			<div class="panel-body">
				<ul>
					<li>JPA Hello World</li>
					<li><em>References</em>
						<ul>
							<li><a ng-href="http://docs.oracle.com/javaee/6/api/javax/persistence/package-summary.html" target="_blank">Basics</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- MyBatis -->
	<div class="col-sm-4"><div class="panel panel-primary"><div class="panel-heading">MyBatis</div>
		<div class="panel-body">
			<ul>
				<li>CRUD Practice</li>
				<li><em>References</em>
					<ul>
						<li><a ng-href="https://www.tutorialspoint.com/mybatis/index.htm" target="_blank">Basics</a></li>
					</ul>
				</li>
				<a ng-href="#myBatis" ng-click="buildBreadCrumbs('MyBatis', '#myBatis')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
			</ul>
		</div>
	</div></div></div>

<hr />

<h4><em>Unit Testing</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Unit Testing</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#junit" ng-click="buildBreadCrumbs('Junit', '#junit')">JUnit</a></li>
					<li><a ng-href="#easymock" ng-click="buildBreadCrumbs('Easymock', '#easymock')">Easymock</a></li>
					<li><a ng-href="#mockito" ng-click="buildBreadCrumbs('Mockito', '#mockito')">Mockito</a></li>
					<li>PowerMock</li>
					<a ng-href="#unitTesting" ng-click="buildBreadCrumbs('Unit Testing', '#unitTesting')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spock</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#spock#1" ng-click="buildBreadCrumbs('Spock', '#spock#1')">Materials</a></li>
					<a ng-href="#spock" ng-click="buildBreadCrumbs('Spock', '#spock')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em>Design Patterns</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Creational Design Patterns - FABSP</div>
			<div class="panel-body">
				<ul>
					<li>Factory Pattern</li>
					<li>Abstract Factory Pattern</li>
					<li>Builder Pattern</li>
					<li><a ng-href="#singletonObject" ng-click="buildBreadCrumbs('Creating Singleton Object', '#singletonObject')">Singleton Pattern</a></li>
					<li>Prototype Pattern</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Structural Design Patterns - ABCDF3P</div>
			<div class="panel-body">
				<ul>
					<li>Adapter Pattern</li>
					<li>Bridge Pattern</li>
					<li>Composite Pattern</li>
					<li>Decorator Pattern</li>
					<li>Filter or Criteria Pattern</li>
					<li>Facade Pattern</li>
					<li>Fly weight Pattern</li>
					<li>Proxy Pattern</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Behavioral Design Patterns - C2I2M2NOS2TV</div>
			<div class="panel-body">
				<ul>
					<li>Chain of Responsibility Pattern</li>
					<li>Command Pattern</li>
					<li>Iterator Pattern</li>
					<li>Interpreter Pattern</li>
					<li>Memento Pattern</li>
					<li>Mediator Pattern</li>
					<li>Null check Pattern</li>
					<li>Observer Pattern</li>
					<li>State Pattern</li>
					<li>Strategy Pattern</li>
					<li>Template Pattern</li>
					<li>Visitor Pattern</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em><a ng-href="#tools" ng-click="buildBreadCrumbs('Tools', '#tools')">Tools</a></em></h4>
<div class="row">

	<!-- CSV Tools -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">CSV</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#openCSV" ng-click="buildBreadCrumbs('Open CSV', '#openCSV')">Open CSV</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- JSON Tools Start -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Jackson Json</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#jacksonReadJson" ng-click="buildBreadCrumbs('Read JSON using Jackson', '#jacksonReadJson')">Read JSON</a></li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">GSON</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Boon JSON</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Simple JSON</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">json.org</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">JSONP</div>
			<div class="panel-body">
				<ul>
					<li>Read Json</li>
					<li>Write Json</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- JSON Tools End -->
	
	<!-- Beans Tools Start -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Dozer</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="http://dozer.sourceforge.net" target="_blank">Dozer</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Beans Tools End -->

	<!-- Code Coverage Tools Start -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Code Coverage Tools</div>
			<div class="panel-body">
				<ul>
					<li>EclEmma</li>
					<li>Jacoco
						<ul>
							<li><a ng-href="#mavenJacoco" ng-click="buildBreadCrumbs('Maven Jacoco Integration', '#mavenJacoco')">Maven Jacoco Integration</a></li>
							<li><a ng-href="#sonarqubeCodeCoverage" ng-click="buildBreadCrumbs('Code Coverage report in Sonarqube with Jacoco', '#sonarqubeCodeCoverage')">Jacoco + Maven + Sonarqube</a></li>
						</ul>
					</li>
					<li>Cobertura</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Code Coverage Tools End -->
	
	<!-- Source code analyzer Tools Start -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Source code analyzer Tools</div>
			<div class="panel-body">
				<ul>
					<li>Sonarqube
						<ul>
							<li><a ng-href="#sonarSetup" ng-click="buildBreadCrumbs('Setup Sonarqube to run with Sonar Scanner', '#sonarSetup')">Setup Sonarqube to run with Sonar Scanner</a></li>
							<li><a ng-href="#sonarqubeCodeCoverage" ng-click="buildBreadCrumbs('Code Coverage report in Sonarqube with Jacoco', '#sonarqubeCodeCoverage')">Code Coverage report in Sonarqube with Jacoco</a></li>
						</ul>
					</li>
					<li>Sonarlint</li>
					<li>pmd</li>	
				</ul>
			</div>
		</div>
	</div>
	<!-- Source code analyzer Tools End -->
	
	<!-- PDF Generation Start -->
		<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">PDF Generation</div>
			<div class="panel-body">
				<ul>
					<li>Generate PDF</li>
					<li><em>References: </em>
						<ul>
							<li><a ng-href="http://tutorials.jenkov.com/java-itext/index.html" target="_blank">Jenkov</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- PDF Generation End -->
	
	<!-- Github Start -->
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Github</div>
			<div class="panel-body">
			<ul>
				<li><em>Materials</em>
				<ul>
					<li><a ng-href="https://www.atlassian.com/git/tutorials/learn-git-with-bitbucket-cloud" target="_blank">Atlassian Tutorial</a></li>
				</ul>
			</li>
			</ul>	
			</div>
		</div>
	</div>
	<!-- Github end -->
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
		<div class="panel-heading">Lombok</div>
			<div class="panel-body">
				<ul>
					<li>References
					<ul>
						<li><a ng-href="http://www.vogella.com/tutorials/Lombok/article.html" target="_blank">Basics</a></li>
						<li><a ng-href="https://projectlombok.org/" target="_blank">Demo</a></li>
						<li><a ng-href="https://github.com/peichhorn/lombok-pg" target="_blank">Lombok Extensions</a></li>
					</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr />

<h4><em>Enterprise Integration Patterns (EIP)</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Camel</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#camelHelloWorld" ng-click="buildBreadCrumbs('Camel Hello World', '#camelMarshalCsv')">Apache Camel Hello World</a></li>
					<li><a ng-href="#camelWithBean" ng-click="buildBreadCrumbs('Using Bean in Router', '#camelWithBean')">Apache Camel With Bean</a></li>
					<li><a ng-href="#camelWithBeanAndProcessor" ng-click="buildBreadCrumbs('Camel with Bean and Processor ', '#camelWithBeanAndProcessor')">Apache Camel With Bean and Processor</a></li>
					<li><a ng-href="#camelWithSpring" ng-click="buildBreadCrumbs('Camel with Spring', '#camelWithSpring')">Apache Camel With Spring</a></li>
					<a ng-href="#camel" ng-click="buildBreadCrumbs('Camel', '#camel')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Mule</div>
			<div class="panel-body">
				<ul>
					<li>Mule Hello World</li>
					<li>Expose REST with Mule</li>
					<li>Consume REST API </li>
					<li>Mule REST API + OAuth in memory DB</li>
					<a ng-href="#mule" ng-click="buildBreadCrumbs('Mule', '#mule')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Spring Integration</div>
			<div class="panel-body">
				<ul>
					<li>Spring Integration Hello World</li>
					<a ng-href="#springIntegration" ng-click="buildBreadCrumbs('Spring Integration', '#springIntegration')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<hr/>

<h4><em>UI</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Angular JS 1</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#angular1HelloWorld" ng-click="buildBreadCrumbs('Angular 1 Hello World', '#angular1HelloWorld')">Angular 1 Hello World</a></li>
					<li><a ng-href="#printMessage" ng-click="buildBreadCrumbs('Angular JS 1 print message in html by setting scope variable', '#printMessage')">Angular JS 1 print message in html by setting scope variable</a></li>
					<li><a ng-href="#printMessageWithIIFY" ng-click="buildBreadCrumbs('Using Angular JS with IIFY', '#printMessageWithIIFY')">Using Angular JS with IIFY</a></li>
					<li><a ng-href="#controller1" ng-click="buildBreadCrumbs('Angular Controller', '#controller1')">Angular Controller Hello World</a></li>
					<a ng-href="#angular1" ng-click="buildBreadCrumbs('Angular 1', '#angular1')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">React JS</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#reactHelloWorld" ng-click="buildBreadCrumbs('React JS Hello World', '#reactHelloWorld')">React JS Hello World</a></li>
					<li><a ng-href="#reactComponents" ng-click="buildBreadCrumbs('React JS Components', '#reactComponents')">React JS Components</a></li>
					<li><a ng-href="#reactState" ng-click="buildBreadCrumbs('React JS State', '#reactState')">React JS State</a></li>
					<li><a ng-href="#reactIncrementButton" ng-click="buildBreadCrumbs('Display Button that increment the counter', '#reactIncrementButton')">Display Button that increment the counter</a></li>
					<a ng-href="#react" ng-click="buildBreadCrumbs('React JS', '#react')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Typescript</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#typescript" ng-click="buildBreadCrumbs('Typescript', '#typescript')">Typescript</a></li>
					<a ng-href="#typescript" ng-click="buildBreadCrumbs('Typescript', '#typescript')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr />

<h4><em>Dashboards</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Hygieia</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="https://github.com/capitalone/Hygieia" target="_blank">Hygieia Github</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>

<h4><em>JMS</em></h4>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Active Mq</div>
			<div class="panel-body">
				<ul>
					<li>Active MQ Installation</li>
					<a ng-href="#activemq" ng-click="buildBreadCrumbs('Active MQ', '#activemq')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">IBM MQ</div>
			<div class="panel-body">
				<ul>
					<li><a ng-href="#ibmMqInstallation" ng-click="buildBreadCrumbs('IBM MQ Installation', '#ibmMqInstallation')">IBM MQ Installation</a></li>
					<a ng-href="#ibmmq" ng-click="buildBreadCrumbs('IBM MQ', '#ibmmq')" class="btn btn-default btn-sm" role="button" style="border-radius: 25px;float: right;">SEE MORE</a>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Pagination start-->
<nav aria-label="Page navigation" class="text-center">
	<ul class="pagination">
		<li><a href="#" aria-label="Previous" title="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		<li><a href="#">1 <span class="sr-only">(current)</span></a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#" aria-label="Next" title="Next"><span aria-hidden="true">&raquo;</span></a></li>
	</ul>
</nav>
<!-- Pagination end-->