<div class="page-header">
    <h3>Installing Scala and Install SBT and Scala IDE (Eclipse based)</h3>      
</div>

<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
	<ul>
		<li><a ng-click="navigate(1)">Install Scala</a></li>
		<li><a ng-click="navigate(2)">Install sbt (Simple Build Tool)</a></li>
		<li><a ng-click="navigate(3)">Scala IDE(Eclipse based)</a></li>
	</ul>
</div></div>

<div class="panel panel-primary" id="1"><div class="panel-heading">Install Scala</div><div class="panel-body">
<ul>
	<li>Download Scala from <a ng-href="https://www.scala-lang.org/download/" target="_blank">Here</a></li>
	<li>This will download scala-2.12.1.msi</li>
	<li>Double click scala-2.12..1.msi and follow instructions in instllation wizard</li>
	<li class="noBullet"><pre><code><img class="img-responsive" ng-src="images/scala/1-install-scala.jpg"/></code></pre></li>
	<li>Once installation completed, open command prompt and run scala -version</li>
	<li class="noBullet"><pre><code><img class="img-responsive" ng-src="images/scala/2-install-scala.jpg"/></code></pre></li>
	<li>Enter and Exit Scala</li>
	<li class="noBullet"><pre><code><img class="img-responsive" ng-src="images/scala/exit-scala.jpg"/></code></pre></li>
</ul>
</div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading">Install sbt (Simple Build Tool)</div><div class="panel-body">
<ul>
	<li>Download sbt from <a ng-href="https://www.scala-lang.org/download/" target="_blank">Here</a></li>
	<li>This will download sbt-0.13.13.1.msi</li>
	<li>Double click sbt-0.13.13.1.msi and follow instructions in installation wizard</li>
	<li class="noBullet"><pre><code><img class="img-responsive" ng-src="images/scala/install-sbt.jpg"/></code></pre></li>
	<li>Once installation completed, open command prompt and run sbt</li>
	<li class="noBullet"><pre><code><img class="img-responsive" ng-src="images/scala/run-sbt.jpg"/></code></pre></li>
	<li>Exit sbt</li>
	<li class="noBullet"><pre><code><img class="img-responsive" ng-src="images/scala/exit-sbt.jpg"/></code></pre>
</ul>
</div></div>

<div class="panel panel-primary" id="3"><div class="panel-heading">Install sbt (Simple Build Tool)</div><div class="panel-body">
<ul>
	<li>Downlod Scala IDE from <a ng-href="http://scala-ide.org/?_ga=1.156798141.740041617.1485449503" target="_blank">Here</a></li>
	<li>This will download zip version. Unzip it.</li>
	<li>This will have eclipse.exe and run and open with any worspace of your choice</li>
	<li>Opened eclipse will have scala support</li>
	<li class="noBullet"><pre><code><img class="img-responsive" ng-src="images/scala/scala-ide.jpg"/></code></pre>
</ul>
</div></div>