<link rel="stylesheet" href="css/leftNav.css">
<ul>
	<li><a class="active" ng-href="#home" ng-click="popBreadCrumb(-1)"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
	
	<!-- Bread Crumbs -->
	<li class="subGroupHeading" ng-if="breadCrumbs.length > 0">Navigation</li>
	<li ng-controller="cerebroController" ng-repeat="breadCrumb in breadCrumbs"><a ng-href="{{breadCrumb.link}}" ng-click="popBreadCrumb($index)">{{breadCrumb.name}}</a></li>
	
	<li class="subGroupHeading">Examples</li>
	<li><a ng-click="navigate(1)">Split List into sub lists of specified size</a></li>
	<li><a ng-click="navigate(2)">Convert Array to List</a></li>
	<li><a ng-click="navigate(3)">Convert List to Array</a></li>
	<li><a ng-click="navigate(4)">Convert List to Comma Separated String</a></li>
	<li><a ng-click="navigate(5)">Remove all nulls from list</a></li>
	<li><a ng-click="navigate(7)">List1 Minus List2</a></li>
	<li><a ng-click="navigate(8)">List1 Intersection List2</a></li>
	<li><a ng-click="navigate(6)">Prepare sorted list sort by date using java 8 collection streams</a></li>
	<li><a ng-click="navigate(9)">Get another list using properties of main object</a></li>
	<li><a ng-click="navigate(10)">Prepare new list with unique elements in two lists</a></li>
	<li><a ng-click="navigate(11)">Create an immutable List</a></li>
	<li><a ng-click="navigate(12)">Changes to sub list will reflect in main list</a></li>
	<li><a ng-click="navigate(13)">Sort list by java.util.Date</a></li>
	<li><a ng-click="navigate(14)">Sort list by java.time.LocalDate</a></li>
	<li><a ng-click="navigate(15)">Sort list using Comparable and Comparator</a></li>
</ul>

<div style="margin-left:30%;padding:1px 16px;">

<div class="panel panel-primary" id="1"><div class="panel-heading">Split List into sub lists of specified size</div><div class="panel-body">
<pre><code>
public static void main(String[] args) {
	ListPractice listPractice = new ListPractice();
	List&lt;Integer&gt; srcList = Arrays.asList(1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
	System.out.println(listPractice.splitList(srcList, 2));
	System.out.println(listPractice.splitList(srcList, 3));
	System.out.println(listPractice.splitList(srcList, 4));
	System.out.println(listPractice.splitList(srcList, 5));
	System.out.println(listPractice.splitList(srcList, 10));
	System.out.println(listPractice.splitList(srcList, 15));
    }
</code></pre>
<pre ><code>
public &lt;T&gt; List&lt;List&lt;T&gt;&gt; splitList(List&lt;T&gt; srcList, final int lengthOfSubList) {
	List&lt;List&lt;T&gt;&gt; splits = new ArrayList&lt;&gt;();
	final int size = srcList.size();
	for (int i = 0; i &lt; size; i = i + lengthOfSubList) {
    	  splits.add(new ArrayList&lt;T&gt;(srcList.subList(i, Math.min(size, i + lengthOfSubList))));
	}
	return splits;
   }
</code>	</pre>
<em>Output</em>
<pre><code>
[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10]]
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
</code></pre>
</div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading" >Convert Array to List</div><div class="panel-body">
  	<pre ><code>
  	public void convertArrayToList() {
	String[] stringArray = new String[] { &quot;A&quot;, &quot;B&quot;, &quot;C&quot;, &quot;D&quot; };

	<em>// method 1</em>
	List&lt;String&gt; stringList = Arrays.asList(stringArray);
	System.out.println(&quot;stringList: &quot; + stringList);

	<em>// method 2</em>
	List&lt;String&gt; stringList2 = new ArrayList&lt;&gt;(Arrays.asList(stringArray));
	System.out.println(&quot;stringList2: &quot; + stringList2);

	<em>// method 3</em>
	int[] numbersArray1 = new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
	List&lt;Integer&gt; numbersList1 = new ArrayList&lt;&gt;();
	for (int number : numbersArray1) {
	    numbersList1.add(number);
	}
	System.out.println(&quot;numbersList1: &quot; + numbersList1);
	
	<em>// method 4</em>
	Integer[] numbersArray3 = new Integer[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
	List&lt;Integer&gt; numbersList3 = Arrays.asList(numbersArray3);
	System.out.println(&quot;numbersList3: &quot; + numbersList3);

	<em>// from java 8</em>
	int[] numbersArray2 = new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
	List&lt;Integer&gt; numbersList2 = Arrays.stream(numbersArray2).boxed().collect(Collectors.toList());
	System.out.println(&quot;numbersList2: &quot; + numbersList2);

    }
</code>	</pre>
<em>Output</em>
<pre><code>
stringList: [A, B, C, D]
stringList2: [A, B, C, D]
numbersList1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbersList2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbersList3: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
</code></pre>
</div></div>

<div class="panel panel-primary" id="3"><div class="panel-heading" >Convert List to Array</div><div class="panel-body">
  <pre><code>
 public void convertListToArray() {
	List&lt;String&gt; list1 = new ArrayList&lt;&gt;();
	list1.add(&quot;A&quot;);
	list1.add(&quot;B&quot;);
	list1.add(&quot;C&quot;);
	System.out.println(&quot;list1: &quot; + list1);

	String[] list1Array = list1.toArray(new String[list1.size()]);
	for (String value : list1Array) {
	    System.out.print(value + &quot;,&quot;);
	}
    }
</code></pre>
<em>Output</em>
<pre><code>
list1: [A, B, C]
A
B
C
</code></pre>
</div></div>

<div class="panel panel-primary" id="4"><div class="panel-heading" >Convert List to Comma Separated String</div><div class="panel-body">
  	<pre><code>
  public void convertListToCommaSeparatedString() {
	List&lt;String&gt; list = Arrays.asList(&quot;A&quot;, &quot;B&quot;, &quot;C&quot;, &quot;D&quot;, &quot;E&quot;);

	<em>//method 1</em>
	StringBuffer listToString1 = new StringBuffer(list.toString());
	listToString1.deleteCharAt(0);
	listToString1.deleteCharAt(listToString1.length() - 1);
	String destString = listToString1.toString().replace(&quot; &quot;, &quot;&quot;);
	System.out.println(&quot;listToString1: &quot; + destString);

	<em>// method 2</em>
	Iterator&lt;String&gt; iterator = list.iterator();
	StringBuffer listToString2 = new StringBuffer();
	for (;;) {
	    listToString2.append(iterator.next());
	    if (!iterator.hasNext())
		break;
	    listToString2.append(&quot;,&quot;);
	}
	System.out.println(&quot;listToString2: &quot; + listToString2);

	<em>// method 3</em>
	StringBuffer listToString3 = new StringBuffer(&quot;[&quot;);
	for (Iterator&lt;String&gt; iterator2 = list.iterator(); iterator2.hasNext();) {
	    listToString3.append(iterator2.next());
	    if (iterator2.hasNext()) {
		listToString3.append(&quot;,&quot;);
	    }
	}
	listToString3.append(&quot;]&quot;);
	System.out.println(&quot;listToString3: &quot; + listToString3.toString());
    }
    
    <em>// method 4</em>
	String listToString4 = String.join(&quot;-&quot;, list);
	System.out.println(&quot;listToString4: &quot; + listToString4);
</code></pre>
<em>Output</em>
<pre><code>
listToString1: A,B,C,D,E
listToString2: A,B,C,D,E
listToString3: [A,B,C,D,E]
listToString4: A-B-C-D-E
</code></pre>
</div></div>

<div class="panel panel-primary" id="5"><div class="panel-heading" >Remove all nulls from list</div><div class="panel-body">
  	<pre><code>
public void removeAllNullsFromList() {
	List&lt;String&gt; list = new ArrayList&lt;&gt;();
	list.add(&quot;a&quot;);
	list.add(null);
	list.add(&quot;b&quot;);
	list.add(null);
	list.add(&quot;c&quot;);
	list.add(null);

	System.out.println(&quot;list: &quot; + list);

	// remove nulls
	list.removeAll(Collections.singleton(null));

	System.out.println(&quot;after remove: &quot; + list);
    }  	
  	</code></pre>
  	<em>Output</em>
  	<pre><code>
list: [a, null, b, null, c, null]
after remove: [a, b, c]  	
  	</code></pre>
</div></div>

<div class="panel panel-primary" id="6"><div class="panel-heading" >Prepare sorted list sort by date using java 8 collection streams</div><div class="panel-body">
Employee.java
<pre><code>
package core.java.collections.model;

import java.time.LocalDate;

public class Employee {

    private LocalDate localDate;

    public Employee() {
    }

    public Employee(LocalDate localDate) {
	this.localDate = localDate;
    }

    public LocalDate getLocalDate() {
	return localDate;
    }

    public void setLocalDate(LocalDate localDate) {
	this.localDate = localDate;
    }

    @Override
    public String toString() {
	return &quot;[localDate=&quot; + localDate + &quot;]&quot;;
    }
}
</code></pre>
Test Method
<pre><code>
public void sortListByDate() {
 List&lt;Employee&gt; employeeList = Arrays.asList(new Employee(LocalDate.of(2017, 04, 12)), new Employee(LocalDate.of(2017, 04, 13)), new Employee(LocalDate.of(2017, 01, 01)), new Employee(LocalDate.of(2017, 02, 10)), new Employee(LocalDate.of(2017, 03, 11)));
 List&lt;Employee&gt; sortedList = employeeList.stream().sorted((e1, e2) -&gt; e1.getLocalDate().compareTo(e2.getLocalDate())).collect(Collectors.toList());
 
 System.out.println(&quot;employeeList: &quot; + employeeList);
 System.out.println(&quot;sortedList: &quot; + sortedList);
} 	
</code></pre>
<em>Output</em>
<pre><code>
employeeList: [[localDate=2017-04-12], [localDate=2017-04-13], [localDate=2017-01-01], [localDate=2017-02-10], [localDate=2017-03-11]]
sortedList: [[localDate=2017-01-01], [localDate=2017-02-10], [localDate=2017-03-11], [localDate=2017-04-12], [localDate=2017-04-13]]
</code></pre>
</div></div>

<div class="panel panel-primary" id="7"><div class="panel-heading" >List1 Minus List2</div><div class="panel-body">
<pre><code>
public void list1MinusList2() {
	List&lt;String&gt; list1 = new ArrayList&lt;&gt;();
	list1.add(&quot;a&quot;);
	list1.add(&quot;b&quot;);
	list1.add(&quot;c&quot;);
	list1.add(&quot;d&quot;);
	list1.add(&quot;e&quot;);

	List&lt;String&gt; list2 = new ArrayList&lt;&gt;();
	list2.add(&quot;a&quot;);
	list2.add(&quot;b&quot;);
	list2.add(&quot;c&quot;);

	System.out.println(&quot;list1: &quot; + list1);
	System.out.println(&quot;list2: &quot; + list2);

	list1.removeAll(list2);
	System.out.println(&quot;After removeAll -&gt; list1: &quot; + list1);
    }
</code></pre>
<em>Output</em>
<pre><code>
list1: [a, b, c, d, e]
list2: [a, b, c]
After removeAll -&gt; list1: [d, e]
</code></pre>
</div></div>

<div class="panel panel-primary" id="8"><div class="panel-heading" >List1 Intersection List2</div><div class="panel-body">
<pre><code>
public void list1IntersectionList2() {
	List&lt;String&gt; list1 = new ArrayList&lt;&gt;();
	list1.add(&quot;a&quot;);
	list1.add(&quot;b&quot;);
	list1.add(&quot;c&quot;);
	list1.add(&quot;d&quot;);
	list1.add(&quot;e&quot;);

	List&lt;String&gt; list2 = new ArrayList&lt;&gt;();
	list2.add(&quot;a&quot;);
	list2.add(&quot;b&quot;);
	list2.add(&quot;c&quot;);

	System.out.println(&quot;list1: &quot; + list1);
	System.out.println(&quot;list2: &quot; + list2);

	list1.retainAll(list2);
	System.out.println(&quot;After retainAll -&gt; list1: &quot; + list1);
    }
</code></pre>
<em>Output</em>
<pre><code>
list1: [a, b, c, d, e]
list2: [a, b, c]
After retainAll -&gt; list1: [a, b, c]
</code></pre>
</div></div>

<div class="panel panel-primary" id="9"><div class="panel-heading" >Get another list using properties of main object</div><div class="panel-body">
Employee.java
<pre><code>
package core.java.collections.model;

import java.time.LocalDate;

public class Employee {

    private LocalDate localDate;
    private String firstName;

    public Employee() {
    }

    public Employee(LocalDate localDate) {
	this.localDate = localDate;
    }

    public Employee(LocalDate localDate, String firstName) {
	this.localDate = localDate;
	this.firstName = firstName;
    }

    public LocalDate getLocalDate() {
	return localDate;
    }

    public void setLocalDate(LocalDate localDate) {
	this.localDate = localDate;
    }

    public String getFirstName() {
	return firstName;
    }

    public void setFirstName(String firstName) {
	this.firstName = firstName;
    }

    @Override
    public String toString() {
	return &quot;[localDate=&quot; + localDate + &quot;]&quot;;
    }
}
</code></pre>
Test Method:
<pre><code>
public void getFirstNameListFromEmployee() {
	List&lt;Employee&gt; employeeList = Arrays.asList(new Employee(LocalDate.of(2017, 04, 12), &quot;john&quot;),
		new Employee(LocalDate.of(2017, 04, 13), &quot;jack&quot;), new Employee(LocalDate.of(2017, 01, 01), &quot;jill&quot;),
		new Employee(LocalDate.of(2017, 02, 10), &quot;mahesh&quot;), new Employee(LocalDate.of(2017, 03, 11), &quot;suresh&quot;));
	<em>// using method reference</em>
	List&lt;String&gt; namesList = employeeList.stream().map(Employee::getFirstName).collect(Collectors.toList());
	System.out.println(&quot;namesList: &quot; + namesList);
	
	<em>// using lambda expression</em>
	List&lt;String&gt; namesList2 = employeeList.stream().map(employee -&gt; employee.getFirstName()).collect(Collectors.toList());
	System.out.println(&quot;namesList2: &quot; + namesList2);
    }
</code></pre>
<em>Output</em>
<pre><code>
namesList: [john, jack, jill, mahesh, suresh]
namesList2: [john, jack, jill, mahesh, suresh]
</code></pre>
</div></div>

<div class="panel panel-primary" id="10"><div class="panel-heading" >Prepare new list with unique elements in two lists</div><div class="panel-body">
<em>
 /**
     * list1 = {a,b,c,d,e}
     * list2 = {a,b,c,f,g,h}
     * output = {a,b,c,d,e,f,g,h}
     */
</em>
<pre><code>
public void prepareNewListWithUniqueValues() {
	List&lt;String&gt; list1 = new ArrayList&lt;&gt;();
	list1.add(&quot;a&quot;);
	list1.add(&quot;b&quot;);
	list1.add(&quot;c&quot;);
	list1.add(&quot;d&quot;);
	list1.add(&quot;e&quot;);

	List&lt;String&gt; list2 = new ArrayList&lt;&gt;();
	list2.add(&quot;a&quot;);
	list2.add(&quot;b&quot;);
	list2.add(&quot;c&quot;);
	list2.add(&quot;f&quot;);
	list2.add(&quot;g&quot;);
	list2.add(&quot;h&quot;);

	List&lt;String&gt; commonElementsList = new ArrayList&lt;&gt;(list2);
	commonElementsList.retainAll(list1);
	list2.removeAll(commonElementsList);
	list1.addAll(list2);
	System.out.println(list1);
    }
</code></pre>
<em>Output</em>
<pre><code>
[a, b, c, d, e, f, g, h]
</code></pre>
</div></div>

<div class="panel panel-primary" id="11"><div class="panel-heading" >Create an immutable List</div><div class="panel-body">
<pre><code>
	<em>
	/**
	 * Create immutable list
	 */
	</em>
	public void immutableList() {
		List&lt;String&gt; list = new ArrayList&lt;&gt;();
		list.add(&quot;a&quot;);
		list.add(&quot;b&quot;);
		list.add(&quot;c&quot;);

		System.out.println(&quot;list: &quot; + list);
		List&lt;String&gt; immutableList = Collections.unmodifiableList(list);
		System.out.println(&quot;immutableList: &quot; + immutableList);

		try {
			immutableList.add(&quot;d&quot;);
		} catch (Exception e) {
			e.printStackTrace();
		}
	}
</code></pre>
<em>Output:</em>
<pre><code>
list: [a, b, c]
immutableList: [a, b, c]
java.lang.UnsupportedOperationException
	at java.util.Collections$UnmodifiableCollection.add(Collections.java:1055)
	at core.java.collections.ListPractice.immutableList(ListPractice.java:243)
</code></pre>
</div></div>

<div class="panel panel-primary" id="12"><div class="panel-heading" >Changes to sub list will reflect in main list</div><div class="panel-body">
<pre><code>
<em>
/**
* Changes to sub list will reflect in main list
*/
</em>
public void subListChangesReflectToMainList() {
		List&lt;String&gt; mainList = new ArrayList&lt;&gt;();
		mainList.add(&quot;one&quot;);
		mainList.add(&quot;two&quot;);
		mainList.add(&quot;three&quot;);
		mainList.add(&quot;four&quot;);
		List&lt;String&gt; subList = mainList.subList(0, 2);

		System.out.println(&quot;---Before-----&quot;);
		System.out.println(&quot;mainList size: &quot; + mainList.size() + &quot;, mainList: &quot; + mainList);
		System.out.println(&quot;subList size: &quot; + subList.size() + &quot;, subList: &quot; + subList);

		subList.add(&quot;five&quot;);
		System.out.println(&quot;---Before-----&quot;);
		System.out.println(&quot;mainList size: &quot; + mainList.size() + &quot;, mainList: &quot; + mainList);
		System.out.println(&quot;subList size: &quot; + subList.size() + &quot;, subList: &quot; + subList);
	}
</code></pre>
<em>Output</em>
<pre><code>
---Before-----
mainList size: 4, mainList: [one, two, three, four]
subList size: 2, subList: [one, two]
---Before-----
mainList size: 5, mainList: [one, two, five, three, four]
subList size: 3, subList: [one, two, five]
</code></pre>
</div></div>

<div class="panel panel-primary" id="13"><div class="panel-heading">Sort list by java.util.Date</div><div class="panel-body">
<pre><code>
public void sortListByJavaUtilDate() {
		List&lt;List&lt;Object&gt;&gt; list = new ArrayList&lt;&gt;();
		Calendar calendar = Calendar.getInstance();

		List&lt;Object&gt; row1 = new ArrayList&lt;&gt;();
		row1.add(1);
		row1.add(calendar.getTime());

		List&lt;Object&gt; row2 = new ArrayList&lt;&gt;();
		row2.add(1);
		calendar.add(Calendar.DAY_OF_MONTH, 3);
		row2.add(calendar.getTime());

		List&lt;Object&gt; row3 = new ArrayList&lt;&gt;();
		row3.add(1);
		calendar.add(Calendar.DAY_OF_MONTH, 3);
		row3.add(calendar.getTime());

		List&lt;Object&gt; row4 = new ArrayList&lt;&gt;();
		row4.add(1);
		calendar.add(Calendar.DAY_OF_MONTH, 3);
		row4.add(calendar.getTime());

		List&lt;Object&gt; row5 = new ArrayList&lt;&gt;();
		row5.add(1);
		calendar.add(Calendar.DAY_OF_MONTH, 3);
		row5.add(calendar.getTime());

		List&lt;Object&gt; row6 = new ArrayList&lt;&gt;();
		row6.add(1);
		calendar.add(Calendar.DAY_OF_MONTH, 3);
		row6.add(calendar.getTime());

		list.add(row6);
		list.add(row5);
		list.add(row4);
		list.add(row3);
		list.add(row2);
		list.add(row1);

		Comparator&lt;List&lt;Object&gt;&gt; dateComparator = (list1, list2) -&gt; {
			Date date1 = (Date) list1.get(1);
			Date date2 = (Date) list2.get(1);

			return date1.compareTo(date2);
		};
		System.out.println(&quot;------------- Before -------------&quot;);
		System.out.println(list);

		list.sort(dateComparator);

		System.out.println(&quot;------------- After -------------&quot;);
		System.out.println(list);
	}
</code></pre>
<em>Output</em>
<pre><code>
------------- Before -------------
[[1, Fri Jul 21 20:46:57 IST 2017], [1, Tue Jul 18 20:46:57 IST 2017], [1, Sat Jul 15 20:46:57 IST 2017], [1, Wed Jul 12 20:46:57 IST 2017], [1, Sun Jul 09 20:46:57 IST 2017], [1, Thu Jul 06 20:46:57 IST 2017]]
------------- After -------------
[[1, Thu Jul 06 20:46:57 IST 2017], [1, Sun Jul 09 20:46:57 IST 2017], [1, Wed Jul 12 20:46:57 IST 2017], [1, Sat Jul 15 20:46:57 IST 2017], [1, Tue Jul 18 20:46:57 IST 2017], [1, Fri Jul 21 20:46:57 IST 2017]]
</code></pre>
</div></div>

<div class="panel panel-primary" id="14"><div class="panel-heading">Sort list by java.time.LocalDate</div><div class="panel-body">
<pre><code>
public void sortListByJavaTimeLocalDate() {
		List&lt;List&lt;Object&gt;&gt; list = new ArrayList&lt;&gt;();
		LocalDate localDate = LocalDate.now(Clock.systemDefaultZone());

		List&lt;Object&gt; row1 = new ArrayList&lt;&gt;();
		row1.add(1);
		row1.add(localDate);

		List&lt;Object&gt; row2 = new ArrayList&lt;&gt;();
		row2.add(2);
		row2.add(localDate.plusDays(1));

		List&lt;Object&gt; row3 = new ArrayList&lt;&gt;();
		row3.add(3);
		row3.add(localDate.plusDays(2));

		List&lt;Object&gt; row4 = new ArrayList&lt;&gt;();
		row4.add(4);
		row4.add(localDate.plusDays(3));

		List&lt;Object&gt; row5 = new ArrayList&lt;&gt;();
		row5.add(5);
		row5.add(localDate.plusDays(4));

		List&lt;Object&gt; row6 = new ArrayList&lt;&gt;();
		row6.add(6);
		row6.add(localDate.plusDays(5));

		list.add(row6);
		list.add(row5);
		list.add(row4);
		list.add(row3);
		list.add(row2);
		list.add(row1);

		Comparator&lt;List&lt;Object&gt;&gt; dateComparator = (list1, list2) -&gt; {
			LocalDate date1 = (LocalDate) list1.get(1);
			LocalDate date2 = (LocalDate) list2.get(1);

			return date1.compareTo(date2);
		};
		System.out.println(&quot;------------- Before -------------&quot;);
		System.out.println(list);

		list.sort(dateComparator);

		System.out.println(&quot;------------- After -------------&quot;);
		System.out.println(list);
	}
</code></pre>
<em>Output</em>
<pre><code>
------------- Before -------------
[[6, 2017-07-11], [5, 2017-07-10], [4, 2017-07-09], [3, 2017-07-08], [2, 2017-07-07], [1, 2017-07-06]]
------------- After -------------
[[1, 2017-07-06], [2, 2017-07-07], [3, 2017-07-08], [4, 2017-07-09], [5, 2017-07-10], [6, 2017-07-11]]
</code></pre>
</div></div>

<div class="panel panel-primary" id="15"><div class="panel-heading">Sort list using Comparable and Comparator</div><div class="panel-body">
<em>Student.java</em>
<pre>
package core.java.collections.model;

public class Student implements Comparable&lt;Student&gt; {

	private Integer id;
	private String name;

	public Student() {
	}

	public Student(Integer id, String name) {
		this.id = id;
		this.name = name;
	}

	public Integer getId() {
		return id;
	}

	public void setId(Integer id) {
		this.id = id;
	}

	public String getName() {
		return name;
	}

	public void setName(String name) {
		this.name = name;
	}

	@Override
	public int compareTo(Student o) {
		return this.name.compareTo(o.getName());
	}

	@Override
	public String toString() {
		return &quot;(id=&quot; + id + &quot;, name=&quot; + name + &quot;)&quot;;
	}

}
</pre>
<em>sort method:</em>
<pre>
import java.util.List;
import java.util.ArrayList;
import core.java.collections.model.Student;
import java.util.Collections;
import java.util.Comparator;

public void sortList() {
		List&lt;Student&gt; students = new ArrayList&lt;&gt;();
		Student student1 = new Student(15, &quot;g&quot;);
		Student student2 = new Student(57, &quot;a&quot;);
		Student student3 = new Student(45, &quot;d&quot;);

		students.add(student1);
		students.add(student2);
		students.add(student3);

		System.out.println(&quot;unsorted list: &quot; + students);

		Collections.sort(students);
		System.out.println(&quot;default sort as per comparable: &quot; + students);

		<em>// Until JDK 7
		/*Comparator&lt;Student&gt; idComparator = new Comparator&lt;Student&gt;() {

			@Override
			public int compare(Student o1, Student o2) {
				return o1.getId().compareTo(o2.getId());
			}
		};*/ </em>

		<em>// using JDK 8 - Lambda Expression</em>
		Comparator&lt;Student&gt; idComparator = (Student o1, Student o2) -&gt; {
			return o1.getId().compareTo(o2.getId());
		};

		Collections.sort(students, idComparator);
		System.out.println(&quot;sort by id: &quot; + students);
	}
</pre>
<em>Output</em>
<pre>
unsorted list: [(id=15, name=g), (id=57, name=a), (id=45, name=d)]
default sort as per comparable: [(id=57, name=a), (id=45, name=d), (id=15, name=g)]
sort by id: [(id=15, name=g), (id=45, name=d), (id=57, name=a)]
</pre>
</div></div>

</div>