<div ng-controller="cerebroController"><div ng-if="breadCrumbs.length > 0">
<ol class="breadcrumb">
	<li ng-repeat="breadCrumb in breadCrumbs"><a ng-href="{{breadCrumb.link}}" ng-click="popBreadCrumb($index)">{{breadCrumb.name}}</a></li>
</ol>
<hr/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Create Java project using Maven from cmd</div><div class="panel-body">
<pre ><code>
mvn archetype:generate -DgroupId=mockito.practice -DartifactId=MockitoPractice -Dversion=1.0-SNAPSHOT -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Project Structure</div><div class="panel-body">
<img class="img-responsive" ng-src="images/mockito/1-mockitoHelloWorld.jpg"/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">pom.xml</div><div class="panel-body">
<pre >
&lt;project xmlns=&quot;http://maven.apache.org/POM/4.0.0&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:schemaLocation=&quot;http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd&quot;&gt;
	&lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;
	&lt;groupId&gt;mockito.practice&lt;/groupId&gt;
	&lt;artifactId&gt;MockitoPractice&lt;/artifactId&gt;
	&lt;packaging&gt;jar&lt;/packaging&gt;
	&lt;version&gt;1.0-SNAPSHOT&lt;/version&gt;
	&lt;name&gt;MockitoPractice&lt;/name&gt;
	&lt;url&gt;http://maven.apache.org&lt;/url&gt;
	&lt;properties&gt;
		&lt;surefire.version&gt;2.17&lt;/surefire.version&gt;
        &lt;jacoco.version&gt;0.7.2.201409121644&lt;/jacoco.version&gt;
	&lt;/properties&gt;
	&lt;dependencies&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;junit&lt;/groupId&gt;
			&lt;artifactId&gt;junit&lt;/artifactId&gt;
			&lt;version&gt;4.11&lt;/version&gt;
			&lt;scope&gt;test&lt;/scope&gt;
		&lt;/dependency&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;org.mockito&lt;/groupId&gt;
			&lt;artifactId&gt;mockito-core&lt;/artifactId&gt;
			&lt;version&gt;2.1.0-RC.2&lt;/version&gt;
		&lt;/dependency&gt;
	&lt;/dependencies&gt;
	&lt;build&gt;
		&lt;pluginManagement&gt;
			&lt;plugins&gt;
				 &lt;plugin&gt;
                &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
                &lt;artifactId&gt;maven-surefire-plugin&lt;/artifactId&gt;
                &lt;version&gt;${surefire.version}&lt;/version&gt;
            &lt;/plugin&gt; 
            
            &lt;plugin&gt;
                &lt;groupId&gt;org.jacoco&lt;/groupId&gt;
                &lt;artifactId&gt;jacoco-maven-plugin&lt;/artifactId&gt;
                &lt;version&gt;${jacoco.version}&lt;/version&gt;
                                  
                &lt;executions&gt;
                    &lt;execution&gt;
                        &lt;id&gt;default-prepare-agent&lt;/id&gt;
                        &lt;goals&gt;&lt;goal&gt;prepare-agent&lt;/goal&gt;&lt;/goals&gt;
                    &lt;/execution&gt;
                    &lt;execution&gt;
                        &lt;id&gt;default-report&lt;/id&gt;
                        &lt;phase&gt;prepare-package&lt;/phase&gt;
                        &lt;goals&gt;&lt;goal&gt;report&lt;/goal&gt;&lt;/goals&gt;
                    &lt;/execution&gt;
                &lt;/executions&gt;
            &lt;/plugin&gt;
				&lt;plugin&gt;
					&lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
					&lt;artifactId&gt;maven-compiler-plugin&lt;/artifactId&gt;
					&lt;version&gt;3.5.1&lt;/version&gt;
					&lt;configuration&gt;
						&lt;source&gt;1.8&lt;/source&gt;
						&lt;target&gt;1.8&lt;/target&gt;
						&lt;compilerArgument&gt;-Xlint:all&lt;/compilerArgument&gt;
						&lt;compilerArgument&gt;-parameters&lt;/compilerArgument&gt;
					&lt;/configuration&gt;
				&lt;/plugin&gt;
			&lt;/plugins&gt;
		&lt;/pluginManagement&gt;
	&lt;/build&gt;
&lt;/project&gt;
</pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">HelloWorld.java</div><div class="panel-body">
<pre >
package mockito.hello.world;

public class HelloWorld {

	public int sum(int a, int b) {
		return a + b;
	}

	public String hello(String name) {
		return &quot;Hello &quot; + name;
	}
}
</pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">HelloWorldTest.java</div><div class="panel-body">
<pre >
package mockito.hello.world;

import mockito.hello.world.HelloWorld;

import org.junit.Assert;
import org.junit.Test;
import org.junit.runner.RunWith;
import org.mockito.Mockito;
import org.mockito.runners.MockitoJUnitRunner;

@RunWith(MockitoJUnitRunner.class)
public class HelloWorldTest {

	<em>/**
	 * Testing HelloWorld class hello method with any string value
	 */</em>
	@Test
	public void testHello() {
		HelloWorld helloWorld = Mockito.mock(HelloWorld.class);
		Mockito.when(helloWorld.hello(Mockito.anyString())).thenReturn(&quot;Hello Jack&quot;);
		Assert.assertEquals(&quot;Hello Jack&quot;, helloWorld.hello(&quot;Ventura&quot;));
	}

	<em>/**
	 * Testing HelloWorld class hello method with specific string value
	 */</em>
	@Test
	public void testHelloWithSpecificString() {
		HelloWorld helloWorld = Mockito.mock(HelloWorld.class);
		Mockito.when(helloWorld.hello(&quot;Ventura&quot;)).thenReturn(&quot;Hello Jack&quot;);
		Assert.assertEquals(&quot;Hello Jack&quot;, helloWorld.hello(&quot;Ventura&quot;));
	}

	<em>/**
	 * Testing HelloWorld class sum method with specific int values
	 */</em>
	@Test
	public void testSumWithSpefictInts() {
		HelloWorld helloWorld = Mockito.mock(HelloWorld.class);
		Mockito.when(helloWorld.sum(10, 30)).thenReturn(60);
		Assert.assertEquals(60, helloWorld.sum(10, 30));
	}

	<em>/**
	 * Testing HelloWorld class sum method with any int values
	 */</em>
	@Test
	public void testSumWithAnyInts() {
		HelloWorld helloWorld = Mockito.mock(HelloWorld.class);
		Mockito.when(helloWorld.sum(Mockito.anyInt(), Mockito.anyInt())).thenReturn(20);
		Assert.assertEquals(20, helloWorld.sum(10, 20));
	}
}
</pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Project Structure</div><div class="panel-body">
<img class="img-responsive" ng-src="images/mockito/2-mockitoHelloWorld.jpg"/>
</div></div>