<div class="panel panel-primary"><div class="panel-heading">Steps</div><div class="panel-body">
	<ul>
		<li>Create ngModel.html file</li>
		<li>Add angular.js in html script tag</li>
		<li>Create ngModel.js and add it to ngModel.html script tag</li>
	</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">ngModel.html</div><div class="panel-body">
<pre ><code>
&lt;!DOCTYPE html&gt;
&lt;html ng-app=&quot;moduleName&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;ISO-8859-1&quot;&gt;
    &lt;title&gt;Ng Model&lt;/title&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;ngModel.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body ng-controller=&quot;mainController&quot;&gt;
    &lt;h3 style=&quot;text-align:center;&quot;&gt;{{message}}&lt;/h3&gt;

    &lt;hr/&gt;
    &lt;h3&gt;Without Initialized text box:&lt;/h3&gt;
    &lt;h4&gt;&#123; &#123;userInput&#125; &#125;&lt;/h4&gt;
    &lt;form name=&quot;ngModelDemo&quot;&gt;
        &lt;input type=&quot;text&quot; placeholder=&quot;Enter any text&quot; ng-model=&quot;userInput&quot; /&gt;
    &lt;/form&gt;

    &lt;hr/&gt;
    &lt;h3&gt;Pre Initialize value to be displayed in text box: &lt;/h3&gt;
    &lt;h4&gt;&#123; &#123;userInput2&#125; &#125;&lt;/h4&gt;
    &lt;form name=&quot;ngModel2&quot;&gt;
        &lt;input type=&quot;text&quot; placeholder=&quot;Enter any text&quot; ng-model=&quot;userInput2&quot;/&gt;
    &lt;/form&gt;
&lt;/body&gt;

&lt;/html&gt;
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">ngModel.js</div><div class="panel-body">
<pre ><code>
(function () {
    var app = angular.module(&quot;moduleName&quot;, []);

    app.controller(&quot;mainController&quot;, function ($scope) {

        $scope.message = &quot;Welcome to Angular ngModel&quot;;

        $scope.userInput2 = &quot;User Input 2&quot;
    });
}());
</code></pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Output</div><div class="panel-body">
<ul>
	<li>Before Entering values in text box:</li>
	<li class="noBullet"><img class="img-responsive" ng-src="images/angular1/1-ngModel.jpg"/></li>
	<li>After Entering values in text box:</li>
	<li class="noBullet"><img class="img-responsive" ng-src="images/angular1/2-ngModel.jpg"/></li>
</ul>
</div></div>