<div class="page-header">
    <h3>Open CSV</h3>      
  </div>

<div class="panel panel-primary"><div class="panel-heading">Other Pages</div><div class="panel-body">
	<ul>
		<li><a ng-href="#">Topic 1</a></li>
	</ul>
</div></div>
	
<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
	<ul>
		<li><a ng-click="navigate(1)">Topic 1</a></li>
		<li><a ng-click="navigate(2)">Topic 2</a></li>
	</ul>
</div></div>
	
<div class="panel panel-primary" id="1"><div class="panel-heading">Code Content Header</div><div class="panel-body">
<pre ><code>
Code Content
</code></pre>
<em>Output</em>
<pre><code>
Output content
</code></pre>
</div></div>

<div class="panel panel-primary" id="1"><div class="panel-heading">Code Content Header</div><div class="panel-body">
<pre ><code>
Code Content
</code></pre>
<em>Output</em>
<pre><code>
Output content
</code></pre>
</div></div>