<div ng-controller="cerebroController"><div ng-if="breadCrumbs.length > 0">
<ol class="breadcrumb">
	<li ng-repeat="breadCrumb in breadCrumbs"><a ng-href="{{breadCrumb.link}}" ng-click="popBreadCrumb($index)">{{breadCrumb.name}}</a></li>
</ol>
<hr/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Read Value from Text Box2</div><div class="panel-body">
<em>Explanation</em>
<pre>
Below example is done in <a href="https://jscomplete.com/repl/" target="_blank">jscomplete</a>
</pre>
<pre>
const Card = (props) =&gt; {
	return (
  	&lt;div style={ {margin: '10px'}}&gt;
    	&lt;img width=&quot;75&quot; src={props.gravatarUrl} /&gt;
      &lt;div style={ {display: 'inline-block', marginLeft: 10}}&gt;
      	&lt;div style={ {fontWeight: 'bold'}}&gt;{props.name}&lt;/div&gt;
        &lt;div&gt;{props.company} &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  );
}

const CardList = (props) =&gt; {
	return(
  	&lt;div&gt;
    	{props.cards.map(card =&gt; &lt;Card {...card} /&gt;)}
    &lt;/div&gt;
  );
}

class Form extends React.Component{
	state = {
  	username: &quot;&quot;
  }
	handleFormSubmit = (event) =&gt; {
  	event.preventDefault();
    console.log(&quot;Inside handleFormSubmit function: &quot;+ this.state.username);
  }
  
	render(){
  	return(
    	&lt;form onSubmit={this.handleFormSubmit}&gt;
      	&lt;input 
        	value={this.state.username}
          onChange={(event) =&gt; this.setState({username: event.target.value})}
        	type=&quot;text&quot; placeHolder=&quot;Enter github username&quot;/&gt;
        &lt;button type=&quot;submit&quot;&gt;Add User&lt;/button&gt;
      &lt;/form&gt;
    );
  }
}

class App extends React.Component{
	state= {
  	cards: [
	{
  	gravatarUrl: &quot;https://avatars0.githubusercontent.com/u/5796299?v=4&quot;,
    name: &quot;Avinash Babu&quot;,
    company: &quot;Google&quot;
  },
  {
  	gravatarUrl: &quot;https://avatars0.githubusercontent.com/u/5796299?v=4&quot;,
    name: &quot;Avinash Babu&quot;,
    company: &quot;Google&quot;
  }
]
  }

	render(){
  	return(
    	&lt;div&gt;
      	&lt;Form /&gt;
        &lt;CardList cards={this.state.cards} /&gt;
      &lt;/div&gt;
    );
  }
}

ReactDOM.render(&lt;App /&gt;, mountNode);
</pre>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Output</div><div class="panel-body">
<img class="img-responsive" ng-src="images/react/1-reactReadTextBoxValue2.jpg"/>
</div></div>