<div class="panel panel-primary"><div class="panel-heading">Materials</div><div class="panel-body table-responsive">
<table class="table table-hover">
<thead>
	<tr>
		<th>Course</th>
        <th>Status</th>
	</tr>
</thead>
<tbody>
<tr>
	<td><a href="https://github.com/bvaughn/react-virtualized" target="_blank">React Virtualized</a></td>
	<td>None</td>
</tr>
</tbody>
</table>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">React JS Examples</div><div class="panel-body">
<ul>
	<li><a ng-href="#reactHelloWorld" ng-click="buildBreadCrumbs('React JS Hello World', '#reactHelloWorld')">React JS Hello World</a></li>
	<li><a ng-href="#reactComponents" ng-click="buildBreadCrumbs('React JS Components', '#reactComponents')">React JS Components</a></li>
	<li><a ng-href="#reactState" ng-click="buildBreadCrumbs('React JS State', '#reactState')">React JS State</a></li>
	<li><a ng-href="#reactIncrementButton" ng-click="buildBreadCrumbs('Display Button that increment the counter', '#reactIncrementButton')">Display Button that increment the counter</a></li>
	<li><a ng-href="#reactArrayData" ng-click="buildBreadCrumbs('Display data from Array', '#reactArrayData')">Display data from Array</a></li>
	<li><a ng-href="#reactReadTextBoxValue1" ng-click="buildBreadCrumbs('Read Value from Text Box', '#reactReadTextBoxValue1')">Read Value from Text Box</a></li>
	<li><a ng-href="#reactReadTextBoxValue2" ng-click="buildBreadCrumbs('Read Value from Text Box 2', '#reactReadTextBoxValue2')">Read Value from Text Box2</a></li>
	<li><a ng-href="#reactGetDataFromGithub" ng-click="buildBreadCrumbs('Get the data from Github', '#reactGetDataFromGithub')">Get the data from Github</a></li>
	<li><a ng-href="#reactPlayNineGame" ng-click="buildBreadCrumbs('Play Nine Game With React', '#reactPlayNineGame')">Play Nine Game with React</a></li>
	<li><a ng-href="#reactCRUDWithInUI" ng-click="buildBreadCrumbs('React CRUD Operations - UI side', '#reactCRUDWithInUI')">React CRUD Operations - UI side</a></li>
	<li><a ng-href="#reactCheckbox" ng-click="buildBreadCrumbs('React + Checkbox', '#reactCheckbox')">React + Checkbox</a></li>
	<li><a ng-href="#reactTableRowButton" ng-click="buildBreadCrumbs('React + Bootstrap + Table + Button in each Row', '#reactTableRowButton')">React + Bootstrap + Table + Button in each Row</a></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">React JS + Superagent</div><div class="panel-body">
<ul>
	<li><a ng-href="#reactRestApiSuperagent" ng-click="buildBreadCrumbs('React + Rest API + Superagent', '#reactRestApiSuperagent')">React + Rest API + Superagent</a></li>
	<li>Materials:
		<ul>
			<li><a href="https://visionmedia.github.io/superagent/" target="_blank">Superagent Tutorial</a></li>
		</ul>
	</li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">React JS + Axios</div><div class="panel-body">
<ul>
	<li><a ng-href="#reactRestApiAxios" ng-click="buildBreadCrumbs('React + Rest API + Axios', '#reactRestApiAxios')">React + Rest API + Axios</a></li>
	<li><a ng-href="#reactBootstrapRestApiAxios" ng-click="buildBreadCrumbs('React + Bootstrap + Rest API + Axios', '#reactBootstrapRestApiAxios')">React + Bootstrap + Rest API + Axios</a></li>
	<li><a ng-href="#reactBootstrapRestApiHibernateAxios" ng-click="buildBreadCrumbs('React + Bootstrap + Rest API + Hibernate + Axios', '#reactBootstrapRestApiHibernateAxios')">React + Bootstrap + Rest API + Hibernate + Axios</a></li>
	<li>Materials:
		<ul>
			<li><a href="https://github.com/axios/axios" target="_blank">Axios Tutorial</a></li>
		</ul>
	</li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">React JS + Bootstrap</div><div class="panel-body">
<ul>
	<li><a ng-href="#reactBootstrap" ng-click="buildBreadCrumbs('React + Bootstrap', '#reactBootstrap')">React + Bootstrap</a></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">React JS + MobX</div><div class="panel-body">

</div></div>

<div class="panel panel-primary"><div class="panel-heading">React JS + Poi</div><div class="panel-body">

</div></div>

<div class="panel panel-primary"><div class="panel-heading">Useful Materials</div><div class="panel-body">
<ul>
	<li><a href="https://reactjs.org/" target="_blank">React Home Page</a></li>
	<li><a href="https://github.com/facebook/react/wiki/sites-using-react" target="_blank">Sites Using React</a></li>
</ul>
</div></div>