<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
<ul>
	<li><a ng-href="#installScala" ng-click="buildBreadCrumbs('Install Scala', '#installScala')">Installing Scala and Install SBT and Scala IDE (Eclipse based)</a></li>
	<li><a ng-href="#scalaHelloWorldWithSbt" ng-click="buildBreadCrumbs('Scala Hello World with SBT', '#scalaHelloWorldWithSbt')">Scala Hello World with sbt</a></li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">References</div><div class="panel-body">
<ul>
	<li><a ng-href="https://www.scala-lang.org/" target="_blank">Scala website</a></li>
	<li><a ng-href="http://docs.scala-lang.org/style/" target="_blank">Scala Style Documentation</a>
</ul>
</div></div>