<div class="panel panel-primary" id="1"><div class="panel-heading">Spring Core Contents</div><div class="panel-body">
<ul><li><em>Examples with Xml</em>
	<ul>
			<li><a ng-href="#springDIHelloWorldXml" ng-click="buildBreadCrumbs('Spring DI Hello World using setter injection', '#springDIHelloWorldXml')">Spring DI Hello World using setter injection</a></li>
			<li><a ng-href="#springDIConstructorInjectionXml" ng-click="buildBreadCrumbs('Spring DI Hello World using constructor injection', '#springDIConstructorInjectionXml')">Spring DI Hello World using constructor injection</a></li>
			<li><a ng-href="#springInjectCollectionsXml" ng-click="buildBreadCrumbs('Spring Injecting collections', '#springInjectCollectionsXml')">Spring Injecting collections</a></li>
			<li><a ng-href="#springResourceBundleXml" ng-click="buildBreadCrumbs('Spring Resource Bundle Message Source', '#springResourceBundleXml')">Spring Resource Bundle Message Source</a></li>
			<li><a ng-href="#beanPostProcessorXml" ng-click="buildBreadCrumbs('Spring Bean Post Processor with xml', '#beanPostProcessorXml')">Bean Post Processor</a></li>
			<li><a ng-href="#propertiesInjectionXml" ng-click="buildBreadCrumbs('Properties injection in spring using xml', '#propertiesInjectionXml')">Properties Injection</a></li>
		</ul>
</li></ul>		
<ul><li><em>Examples with Annotations</em>
<ul>
	<li><a ng-href="#springDIAnnotations" ng-click="buildBreadCrumbs('Spring DI Hello World using Annotations', '#springDIAnnotations')">Spring DI Hello World using Annotations</a></li>
	<li>Injecting collections</li>
	<li>Setter Injection</li>
	<li>Constructor Injection</li>
	<li>BeanPostProcessor</li>
</ul>
</li></ul>

<ul><li><em>Examples with Java Config</em>
<ul>
	<li><a ng-href="#springDIJavaConfig" ng-click="buildBreadCrumbs('Spring Dependency Injection Hello World using Java Configuration', '#springDIJavaConfig')">Spring Dependency Injection Hello World using Java Configuration</a></li>
	<li><a ng-href="#springJavaMultiConfig" ng-click="buildBreadCrumbs('Spring Dependency Injection With Multiple Java Configuration files', '#springJavaMultiConfig')">Spring Dependency Injection With Multiple Java Configuration files</a></li>
	<li>Injecting collections</li>
	<li>Setter Injection</li>
	<li>Constructor Injection</li>
	<li>BeanPostProcessor</li>
</ul>
</li></ul>
</div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading">Spring MVC</div><div class="panel-body">
<ul><li><em>Examples with Xml</em>
<ul>
	<li><a ng-href="#springMVCHelloWorldXml" ng-click="buildBreadCrumbs('Spring MVC Hello World', '#springMVCHelloWorldXml')">Spring MVC Hello World</a></li>
	<li><a ng-href="#springMVCCustomConfigXml" ng-click="buildBreadCrumbs('Spring MVC using custom spring config file', '#springMVCCustomConfigXml')">Spring MVC using custom spring config file</a></li>
	<li><a ng-href="#springMVCMultiConfigXml" ng-click="buildBreadCrumbs('Spring MVC with multi config files', '#springMVCMultiConfigXml')">Spring MVC with multi config files</a></li>
	<li><a ng-href="#springMVCPropertiesFileXml" ng-click="buildBreadCrumbs('Spring MVC using properties file for labels', '#springMVCPropertiesFileXml')">Spring MVC using properties file for labels</a></li>
	<li><a ng-href="#springMVCFormXml" ng-click="buildBreadCrumbs('Spring MVC Form', '#springMVCFormXml')">Spring MVC Form</a></li>
	<li><a ng-href="#springMVCFormValidationXml" ng-click="buildBreadCrumbs('Spring MVC Form Validation', '#springMVCFormValidationXml')">Spring MVC Form Validation</a></li>
	<li>Spring MVC Form Validation Using Custom Validator</li>
	<li><a ng-href="#springMVCFwdXml" ng-click="buildBreadCrumbs('Spring MVC forward', '#springMVCFwdXml')">Spring MVC forward</a></li>
	<li><a ng-href="#springMVCI18NXml" ng-click="buildBreadCrumbs('Spring MVC I18N', '#springMVCI18NXml')">Spring MVC I18N</a></li>
	<li><a ng-href="#springMVCRedirectXml" ng-click="buildBreadCrumbs('Spring MVC Redirect', '#springMVCRedirectXml')">Spring MVC Redirect</a></li>
	<li><a ng-href="#springMVCStaticFilesXml" ng-click="buildBreadCrumbs('Spring MVC using static files', '#springMVCStaticFilesXml')">Spring MVC using static files</a></li>
	<li><a ng-href="#springMVCContentNegotiationXml" ng-click="buildBreadCrumbs('Spring MVC Content Negotiation Resolver', '#springMVCContentNegotiationXml')">Spring MVC Content Negotiation Resolver</a></li>
	<li><a ng-href="#springMVCXmlJunitTesting" ng-click="buildBreadCrumbs('Spring MVC With Xml Junit Testing', '#springMVCXmlJunitTesting')">Spring MVC With Xml Junit Testing</a></li>
	<li><a ng-href="#springMvcJpa" ng-click="buildBreadCrumbs('Spring MVC with JPA Hibernate', '#springMvcJpa')">Spring MVC with JPA Hibernate</a></li>
	<li><a ng-href="#springMvcDataJpa" ng-click="buildBreadCrumbs('Spring MVC with Data Jpa', '#springMvcDataJpa')">Spring MVC with Data Jpa</a></li>
	<li><a ng-href="#springMvcRest" ng-click="buildBreadCrumbs('Spring MVC + Spring Rest', '#springMvcRest')">Spring MVC + Spring Rest</a></li>
</ul>
</li></ul>

<ul><li><em>Examples with Java Config</em>
<ul>
	<li><a ng-href="#springMVCHelloWorldJavaConfig" ng-click="buildBreadCrumbs('Spring MVC Hello World Java Config', '#springMVCHelloWorldJavaConfig')">Spring MVC Hello World</a></li>
</ul>
</li></ul>

</div></div>

<div class="panel panel-primary" id="2"><div class="panel-heading">Spring REST</div><div class="panel-body">
	<ul>
		<li><em>Examples:</em>
			<ul>
				<li><a ng-href="#springRestGet" ng-click="buildBreadCrumbs('Spring REST Get', '#springRestGet')">Spring REST GET</a></li>
				<li><a ng-href="#springRestPost" ng-click="buildBreadCrumbs('Spring REST Post', '#springRestPost')">Spring REST POST</a></li>
				<li><a ng-href="#springRestPostPolymorphism" ng-click="buildBreadCrumbs('Spring REST Post Polymorphism', '#springRestPostPolymorphism')">Spring REST POST Polymorphism</a></li>
				<li><a ng-href="#springRestPUT" ng-click="buildBreadCrumbs('Spring REST PUT', '#springRestPUT')">Spring REST PUT</a></li>
				<li><a ng-href="#springRestDELETE" ng-click="buildBreadCrumbs('Spring REST DELETE', '#springRestDELETE')">Spring REST DELETE</a></li>
				<li>Spring REST Exception Handling
					<ul>
						<li><a ng-href="#springRestExceptionHandling1" ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using ResponseEntity and simply return status code', '#springRestExceptionHandling1')">Using ResponseEntity and simply return status code</a></li>
						<li><a ng-href="#springRestExceptionHandling2" ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using ResponseEntity and return Error object as JSON', '#springRestExceptionHandling2')">Using ResponseEntity and return Error object as JSON</a></li>
						<li><a ng-href="#springRestExceptionHandling3" ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using custom exception handler with @ResponseStatus annotation', '#springRestExceptionHandling3')">Using custom exception handler with @ResponseStatus annotation</a></li>
						<li><a ng-href="#springRestExceptionHandling4" ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using handler method', '#springRestExceptionHandling4')">Using handler method</a></li>
						<li><a ng-href="#springRestExceptionHandling5" ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using handler method but returning error pojo as json', '#springRestExceptionHandling5')">Using handler method but returning error pojo as json</a></li>
						<li><a ng-href="#springRestExceptionHandling6" ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding global exception handling using ControllerAdvice annotation', '#springRestExceptionHandling6')">Global exception handling using ControllerAdvice annotation</a></li>
					</ul>
				</li>
				<li><a ng-href="#springRestLog4J" ng-click="buildBreadCrumbs('Spring REST + Log4J', '#springRestLog4J')">Spring REST + Log4J</a></li>
				<li><a ng-href="#springRestHibernate4" ng-click="buildBreadCrumbs('Spring REST + Hibernate4', '#springRestHibernate4')">Spring REST + Hibernate</a></li>
				<li><a ng-href="#springMvcRest" ng-click="buildBreadCrumbs('Spring MVC + Spring Rest', '#springMvcRest')">Spring MVC + Spring Rest</a></li>
			</ul>
		</li>
		<li><em>Source Code:</em>
			<ul>
				<li>Refer from <a ng-href="https://github.com/avinashbabudonthu/SpringRest" target="_blank">github</a></li>
				<li>Download Source Code from <a ng-href="https://github.com/avinashbabudonthu/SpringRest/archive/master.zip">here</a></li>
			</ul>
		</li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring Boot</div><div class="panel-body">
<ul><li><em>Examples with Maven</em>
<ul>
	<li><a ng-href="#springBootCli" ng-click="buildBreadCrumbs('Generate Spring Boot application with web dependency using Spring Boot Cli', '#springBootCli')">Creating Spring Boot application using Spring Boot CLI</a></li>
	<li><a ng-href="#springBootHelloWorld" ng-click="buildBreadCrumbs('Spring Boot Hello World', '#springBootHelloWorld')">Spring Boot Hello World</a></li>
	<li><a ng-href="#springBootJsonAndXml" ng-click="buildBreadCrumbs('Spring Boot supports both JSON and Xml', '#springBootJsonAndXml')">Spring Boot supports both JSON and Xml</a></li>
	<li><a ng-href="#springBootJetty" ng-click="buildBreadCrumbs('Spring Boot with Jetty Embedded server', '#springBootJetty')">Spring Boot with Jetty Embedded server</a></li>
	<li><a ng-href="#springBootFileUpload" ng-click="buildBreadCrumbs('Spring Boot File Upload', '#springBootFileUpload')">Spring Boot File Upload</a></li>
	<li><a ng-href="#springBootStaticFiles" ng-click="buildBreadCrumbs('Using Static contents like html, CSS, javascript  and images', '#springBootStaticFiles')">Using Static contents like html, CSS, javascript  and images</a></li>
	<li><a ng-href="#springBootMultiplePropsFiles" ng-click="buildBreadCrumbs('Using multiple properties files based on Environment', '#springBootMultiplePropsFiles')">Using multiple properties files based on Environment</a></li>
	<li><a ng-href="#injectPropertyAsString" ng-click="buildBreadCrumbs('Inject custom properties in appliation.properties as String property in controller', '#injectPropertyAsString')">Inject custom properties in appliation.properties as String property in controller</a></li>
	<li><a ng-href="#injectStringFromPropsFile" ng-click="buildBreadCrumbs('Inject custom properties in test.properties file as String property in controller', '#injectStringFromPropsFile')">Inject custom properties in test.properties file as String property in controller</a></li>
	<li><a ng-href="#springBootDataSource" ng-click="buildBreadCrumbs('Creating and Accessing data source and perform DB operations - using H2 DB', '#springBootDataSource')">Creating and Accessing data source and perform DB operations - using H2 DB</a></li>
	<li><a ng-href="#springBootCustomDataSource" ng-click="buildBreadCrumbs('Creating Custom Data Source in Spring Boot', '#springBootCustomDataSource')">Creating Custom Data Source in Spring Boot</a></li>
	<li>Spring Boot Junit
		<ul>
			<li><a ng-href="#springBootMockito" ng-click="buildBreadCrumbs('Spring Boot + Unit Testing + Mockito', '#springBootMockito')">Spring Boot + Unit Testing + Mockito</a></li>
			<li><a ng-href="#springBootIT" ng-click="buildBreadCrumbs('Spring Boot Integration Test', '#springBootIT')">Spring Boot Integration Test</a></li>
			<li><a ng-href="#springBootWebIT" ng-click="buildBreadCrumbs('Spring Boot Web Integration Test', '#springBootWebIT')">Spring Boot Web Integration Test</a></li>
		</ul>
	</li>
	<li><a ng-href="#httpGet" ng-click="buildBreadCrumbs('Spring Boot + Spring REST GET + Angular Js', '#httpGet')">Spring Boot + Spring REST GET + Angular Js</a></li>
	<li>Spring Boot + Flyway DB</li>
	<li>Spring Boot + Multiple Data Sources</li>
	
</ul>
</li></ul>

<ul><li><em>Examples with Gradle</em>
<ul>
	<li><a ng-href="#springBootHelloWorldGradle" ng-click="buildBreadCrumbs('Spring Boot Hello World With Gradle', '#springBootHelloWorldGradle')">Spring Boot Hello World With Gradle</a></li>
</ul>
</li></ul>

<ul><li><em>References</em>
<ul>
<li><a ng-href="http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/" target="_blank">Spring Boot Reference</a></li>
<li><a ng-href="https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html" target="_blank">Spring Boot Common application properties</a></li>
</ul>
</li></ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring JDBC/DAO</div><div class="panel-body">
<ul>
	<li><em>Examples:</em>
		<ul>
			<li>Spring JDBC Hello World</li>
		</ul>
	</li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring JPA with Hibernate</div><div class="panel-body">
<ul><li><em>Examples with Xml</em>
<ul>
	<li><a ng-href="#springMvcJpa" ng-click="buildBreadCrumbs('Spring MVC with JPA Hello world', '#springMvcJpa')">Spring MVC with JPA Hello world</a></li>
	<li>OneToMany mapping</li>
	<li>Lazy fetch in OneToMany mapping and handling LazyInitializationException using OpenEntityManagerInViewFilter</li>
	<li>Projections</li>
	<li>Named Queries</li>
</ul>
</li></ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring ORM</div><div class="panel-body">
<ul><li><em>Examples with Xml</em>
<ul>
	<li><a ng-href="#springORMHelloWorldXml" ng-click="buildBreadCrumbs('Spring ORM Hello World', '#springORMHelloWorldXml')">Spring ORM Hello World</a></li>
</ul>
</li></ul>

<ul><li><em>Examples with Java Config</em>
<ul>
	<li>Spring ORM Hello World</li>
</ul>
</li></ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring Data JPA</div><div class="panel-body">
<ul><li><em>Examples</em>

</li></ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring Data REST</div><div class="panel-body">
<ul>
<li><em>Examples with Spring Boot</em>
	<ul>
		<li>Spring Data Rest Hello World</li>
		<li>Spring Data Rest Security Practice</li>
	</ul>
</li>
<li><em>Source Code:</em>
	<ul>
		<li>Spring Data Rest Hello World - <a ng-href="https://github.com/avinashbabudonthu/SpringDataRestPractice.git" target="_blank">github</a></li>
	</ul>
</li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring AOP</div><div class="panel-body">
<ul><li><em>Examples with Java Config:</em>
<ul>
		<li><a ng-href="#springAOPJavaConfigHelloWorld" ng-click="buildBreadCrumbs('Spring AOP Java Configuration Hello World', '#springAOPJavaConfigHelloWorld')">Spring AOP Java Configuration Hello World</a></li>
</ul>
</li></ul>

<ul><li><em>References</em>
<ul>
	<li>
	<a ng-href="https://docs.spring.io/spring/docs/current/spring-framework-reference/htmlsingle/" target="_blank">Spring Docs</a></li>
	<li><a ng-href="http://www.eclipse.org/aspectj/doc/released/progguide/index.html" target="_blank">AspectJ</a></li>
</ul>
</li></ul>

</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring Security</div><div class="panel-body">
<ul><li><em>Examples</em>
<ul>
		<li><a ng-href="">Spring Security Java Configuration Hello World</a></li>
		<li><a ng-href="#springSecurityFlow" ng-click="buildBreadCrumbs('Spring Security Method Calls and Flow', '#springSecurityFlow')">Spring Security Method Calls and Flow</a></li>
</ul>
</li></ul>

<ul><li><em>References</em>
<ul>
	<li><a ng-href="http://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/" target="_blank">Spring Docs</a></li>
	<li><a ng-href="https://spring.io/blog/2014/05/23/preview-spring-security-test-web-security" target="_blank">Spring Security + Spring Web + Test cases</a></li>
</ul>
</li></ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring Data Mongo</div><div class="panel-body">
<ul>
	<li><em>Examples: </em>
		<ul>
			<li>Spring Data Mongo Hello World</li>
		</ul>
	</li>
</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Spring Batch</div><div class="panel-body">
<ul>
	<li><em>References: </em>
		<ul>
			<li><a ng-href="http://www.mkyong.com/tutorials/spring-batch-tutorial/" target="_blank">Mkyong</a></li>
		</ul>
	</li>
</ul>
</div></div>