<div ng-controller="cerebroController"><div ng-if="breadCrumbs.length > 0">
<ol class="breadcrumb">
	<li ng-repeat="breadCrumb in breadCrumbs"><a ng-href="{{breadCrumb.link}}" ng-click="popBreadCrumb($index)">{{breadCrumb.name}}</a></li>
</ol>
<hr/>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">Contents</div><div class="panel-body">
	<ul>
		<li><a ng-href="#junit" ng-click="buildBreadCrumbs('Junit', '#junit')">JUnit</a></li>
		<li><a ng-href="#easymock" ng-click="buildBreadCrumbs('Easymock', '#easymock')">Easymock</a></li>
		<li><a ng-href="#mockito" ng-click="buildBreadCrumbs('Mockito', '#mockito')">Mockito</a></li>
		<li>Power Mock</li>
		<li>Spring + JUnit</li>
		<li>Spring + JUnit + Mockito</li>
		<li>Spring + JUnit + Mockito + Power Mock</li>
		<li>Spring Boot + JUnit</li>
		<li>Spring MVC + JUnit</li>
		<li>Spring Security + JUnit</li>
	</ul>
</div></div>