<div class="panel panel-primary"><div class="panel-heading">RESTful Web Services with Jersey Implementation contents</div><div class="panel-body">
	<ul>
					<li><em>Examples:</em>
						<ul>
							<li><a ng-href="#jerseyRestGet" ng-click="buildBreadCrumbs('GET requests in Jersey Implementation', '#jerseyRestGet')">GET requests</a></li>
							<li><a ng-href="#jerseyRestPost" ng-click="buildBreadCrumbs('POST requests in Jersey Implementation', '#jerseyRestPost')">POST requests</a></li>
							<li><a ng-href="#jerseyRestPut" ng-click="buildBreadCrumbs('PUT requests in Jersey Implementation', '#jerseyRestPut')">PUT requests</a></li>
							<li><a ng-href="#jerseyRestDelete" ng-click="buildBreadCrumbs('DELETE requests in Jersey Implementation', '#jerseyRestDelete')">DELETE requests</a></li>
							<li><a ng-href="#jerseyFileUpload" ng-click="buildBreadCrumbs('File upload in Jersey Implementation', '#jerseyFileUpload')">Jersey File Upload</a></li>
							<li><a ng-href="#jerseyFileDownload" ng-click="buildBreadCrumbs('File download in Jersey Implementation', '#jerseyFileDownload')">Jersey File Download</a></li>
							<li><a ng-href="#jerseyExceptionHandling" ng-click="buildBreadCrumbs('Exception Handling in Jersey Implementation', '#jerseyExceptionHandling')">Exception Handling</a></li>
						</ul></li>
					<li><em>Source Code</em>
						<ul>
							<li>Download Source Code from <a ng-href="https://github.com/avinashbabudonthu/JerseyRestPractice/archive/master.zip">here</a></li>
						</ul></li>
					<li><em>References</em>
						<ul>
							<li><a
								ng-href="http://www.mkyong.com/tutorials/jax-rs-tutorials/" target="_blank">References</a></li>
						</ul>
				</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">RESTful Web Services with Spring Implementation contents</div><div class="panel-body">
	<ul>
					<li><em>Examples:</em>
						<ul>
							<li><a ng-href="#springRestGet"
								ng-click="buildBreadCrumbs('Spring REST Get', '#springRestGet')">Spring
									REST GET</a></li>
							<li><a ng-href="#springRestPost"
								ng-click="buildBreadCrumbs('Spring REST Post', '#springRestPost')">Spring
									REST POST</a></li>
							<li><a ng-href="#springRestPostPolymorphism"
								ng-click="buildBreadCrumbs('Spring REST Post Polymorphism', '#springRestPostPolymorphism')">Spring
									REST POST Polymorphism</a></li>
							<li><a ng-href="#springRestPUT"
								ng-click="buildBreadCrumbs('Spring REST PUT', '#springRestPUT')">Spring
									REST PUT</a></li>
							<li><a ng-href="#springRestDELETE"
								ng-click="buildBreadCrumbs('Spring REST DELETE', '#springRestDELETE')">Spring
									REST DELETE</a></li>
							<li>Spring REST Exception Handling
								<ul>
									<li><a ng-href="#springRestExceptionHandling1"
										ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using ResponseEntity and simply return status code', '#springRestExceptionHandling1')">Using
											ResponseEntity and simply return status code</a></li>
									<li><a ng-href="#springRestExceptionHandling2"
										ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using ResponseEntity and return Error object as JSON', '#springRestExceptionHandling2')">Using
											ResponseEntity and return Error object as JSON</a></li>
									<li><a ng-href="#springRestExceptionHandling3"
										ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using custom exception handler with @ResponseStatus annotation', '#springRestExceptionHandling3')">Using
											custom exception handler with @ResponseStatus annotation</a></li>
									<li><a ng-href="#springRestExceptionHandling4"
										ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using handler method', '#springRestExceptionHandling4')">Using
											handler method</a></li>
									<li><a ng-href="#springRestExceptionHandling5"
										ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding using handler method but returning error pojo as json', '#springRestExceptionHandling5')">Using
											handler method but returning error pojo as json</a></li>
									<li><a ng-href="#springRestExceptionHandling6"
										ng-click="buildBreadCrumbs('Spring Rest Exception Hanlding global exception handling using ControllerAdvice annotation', '#springRestExceptionHandling6')">Global
											exception handling using ControlLerAdvice annotation</a></li>
								</ul>
							</li>
							<li><a ng-href="#springRestLog4J" ng-click="buildBreadCrumbs('Spring REST + Log4J', '#springRestLog4J')">Spring REST + Log4J</a></li>
						</ul></li>
					<li><em>Source Code</em>
						<ul>
							<li>Download Source Code from <a ng-href="https://github.com/avinashbabudonthu/SpringRest/archive/master.zip">here</a></li>
						</ul>
				</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">RESTful Web Services with Dropwizard implementation contents</div><div class="panel-body">
<ul>
					<li><em>References:</em>
						<ul>
							<li><a ng-href="http://www.dropwizard.io/1.0.6/docs/getting-started.html" target="_blank">Getting Started</a></li>
							<li><a ng-href="http://www.dropwizard.io/1.0.6/docs/manual/index.html#manual-index" target="_blank">Docs</a></li>
						</ul></li>
				</ul>
</div></div>

<div class="panel panel-primary"><div class="panel-heading">RESTful Clients</div><div class="panel-body">
<ul>
					<li>java.net.URL</li>
					<li>Apache HTTP Client</li>
					<li>RestEasy</li>
					<li>Jersey</li>
					<li>Spring RestTemplate</li>
					<li>cURL</li>
				</ul>
</div></div>